
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>
<% include ../../masterpage/loader %>


<script src="../../../../<%= js_css_version %>/javascripts/class-coupon-speciality.js"></script>	


<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>
<% include ../../masterpage/function-share-coupon %>

<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	



<!-- --------------------
content
--------------------- -->
<div id="content" class="content">
	<h1>
		<a href="/admin/">Admin</a>
		<i class="fas fa-chevron-right"></i><a href="/coupon/speciality/">coupon</a>
		<i class="fas fa-chevron-right"></i>quản lý coupon
	</h1>


	<div class="sap_xep_loc" style="justify-content: flex-end;">
		<div class="loc_wrap">
			<select id="loc_trang_thai">
				<option id="all" value="[0,1,2,3,4]">Tất cả trạng thái</option>
				<option id="checking" value="[0]">Chờ duyệt</option>
				<option id="checked" value="[1]">Đã duyệt</option>
				<option id="edit" value="[2]">Đã sửa chờ duyệt</option>
				<option id="refuse" value="[3]">Bị từ chối</option>
				<option id="checked" value="[4]">Đã thanh toán</option>
			</select>
		</div>
	</div>	



	<div id="ajax-wrap">	
		<% include ../../masterpage/widget-coupon-speciality-show-tables-admin.ejs %>
	</div>




</div>
<!-- --------------------
end content
--------------------- -->






<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	//@
	//xoa
	$(document).on('click','.submitdelete',function(e) {	
		//@
		e.preventDefault();		
		let coupon_id = $(this).attr("data_coupon_id");
		//
		//@
		let x = "xác nhận xoá coupon";		
		let y = "delete_coupon";//function name in callback 
		let z = ' { "coupon_id" : "' + coupon_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});			
	//		
		
	//
	//@
	//add class active
	$(document).on('click','.btn_add_store',function(e) {	
		e.preventDefault();
		$('.store_row').find('.btn_add_store').removeClass('active');
		$(this).addClass('active');
	});//end of function	
	//@
	//@	
	
	//Loc trang thai
	///////////////////////////
	$("#loc_trang_thai").change(function() {
		let user_id = 0;
		let store_id = 0;
		let status_admin = $('#loc_trang_thai').val();
		
		var datas = {
			"datas":{
				user_id 	: user_id,
				store_id	:store_id,
				status_admin : JSON.parse(status_admin)
			}
		}	
		//console.log(datas);
		//return;
		ojs_coupon_speciality.ajax_load_admin(datas);	
	});
	/*
	//@
	//goi ajax
	$(document).on('click','#all',function(e) {	
		e.preventDefault();
		//@
		//@
		let status_admin = [0,1,2,3];
		
		var datas = {
			"datas":{
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_option_bussiness(datas);	

	});//end of function		

	//@
	//goi ajax
	$(document).on('click','#complate',function(e) {	
		e.preventDefault();
		//@
		//@
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = [1]
		
		var datas = {
			"datas":{
				user_id 	: user_id,
				store_id 	: store_id,
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_option_no(datas);	

	});//end of function

	//@
	//goi ajax
	$(document).on('click','#new',function(e) {	
		e.preventDefault();
		//@
		//@
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = [0]
		
		var datas = {
			"datas":{
				user_id 	: user_id,
				store_id 	: store_id,
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_option_no(datas);	

	});//end of function

	//@
	//goi ajax
	$(document).on('click','#update',function(e) {	
		e.preventDefault();
		//@
		//@
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = [2]
		
		var datas = {
			"datas":{
				user_id 	: user_id,
				store_id 	: store_id,
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_option_no(datas);	

	});//end of function


	//@
	//goi ajax
	$(document).on('click','#not',function(e) {	
		e.preventDefault();
		//@
		//@
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = [3]
		
		var datas = {
			"datas":{
				user_id 	: user_id,
				store_id 	: store_id,
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_option_no(datas);	

	});//end of function	
	
	*/
	//
///////////////////////////////////////////////////////
});//end of document
</script>








<% include ../../masterpage/loader-end %>















