<div id="sidebar" class="sidebar">
	<ul class="admin-menu">
		<li><a href="#">
		<i class="fas fa-tachometer-alt"></i>
		<div class="menu-name">customer</div>
		</a></li>
		
		
		<!-- 
		danh mục chung
		-->		
		
		<!--
		<li><a href="#">
		<i class="fas fa-store"></i>
		<div class="menu-name">Danh Mục Chung</div>
		</a></li>
		<ul>
			<li><a href="#">Danh sách danh mục chung</a></li>
			<li><a href="#">Danh mục chung đặc sản</a></li>
			<li><a href="#">Danh mục chung ăn uống</a></li>
			<li><a href="#">Tạo danh mục chung</a></li>
		</ul>
		-->
		<!-- 
		users
		-->
		<!--
		<li><a href="/users/">
		<i class="fas fa-store"></i>
		<div class="#">Users</div>
		</a></li>
		<ul>
			<li><a href="#">Danh sách Users</a></li>
		</ul>		
		-->

	</ul>
</div>