





<% 
if (typeof datas == 'object' && datas && datas.length > 0) { 
	store_taget_id = datas[0].stores_service_type_id;
}else{ 
	let DanhMucChungMacDinhID = 0;
	store_taget_id = DanhMucChungMacDinhID;
}
if (typeof service_type_list == 'object' && service_type_list && service_type_list.length > 0 ) { } else {service_type_list = [];}
%>	






<% 
for(var  x in service_type_list) { %>

	<% 
	if(service_type_list[x].service_type_ID  == store_taget_id ){ 
	%>
		<option  style="font-weight:bold;color:red;"  selected value="<%= service_type_list[x].service_type_ID %>"><%= service_type_list[x].service_type_name %></option>
	<%	
	}else{ 
	%>
		<option value ="<%= service_type_list[x].service_type_ID %>"><%= service_type_list[x].service_type_name %></option>
	<% 
	} 
	%>			
<% 
} 
%>