
<% if( typeof orders_report_store_view == 'object' && orders_report_store_view && orders_report_store_view.length > 0){  } else{ orders_report_store_view=[] } %>



<%
if(orders_report_store_view.length == 0){
%>
	<div class="not_order"><span>Chưa có đơn hàng nào ...... </span></div>
<% } else{
	
%>
	<table class="table-list">
		<thead>
			<tr>
				<th class="user-name">Tên cửa hàng</th>
				<th class="user-name">Tổng tiền sản phẩm bán</th>
				<th class="user-name">Tổng tiền chiết khấu</th>
				<th class="user-name">Tiền thanh toán</th>
			</tr>
		</thead>
		<tbody>
		

	<% 
	if(orders_report_store_view.length > 0){
	for( var  x in orders_report_store_view ) { 
	%>


	   <tr>
			<td class="user-name"><%- orders_report_store_view[x].view_order_report_stores_name %></td>
			<td class="user-name"><%- ojs_share.show_price_vnd(orders_report_store_view[x].view_order_report_price_caution_sum,0,",",".","đ") %></td>
			<td class="user-name"><%- ojs_share.show_price_vnd(orders_report_store_view[x].view_order_report_discount_caution_sum,0,",",".","đ") %></td>
			<td class="user-name">
				<%- ojs_share.show_price_vnd(
					orders_report_store_view[x].view_order_report_price_caution_sum - orders_report_store_view[x].view_order_report_discount_caution_sum,0,",",".","đ") 
				%>
			</td>
			
			
	   </tr>


	<% 
	}
	}
	%>


		
		</tbody>
		<tfoot>
			<tr>

			</tr>
		</tfoot>
	</table>
<% 
}
%>