





<% 
if (typeof datas == 'object' && datas && datas.length > 0) { 
	brand_taget_id = datas[0].products_speciality_brand;
}else{ 
	let DanhMucChungMacDinhID = 0;
	brand_taget_id = DanhMucChungMacDinhID;
}
if (typeof brands_list == 'object' && brands_list) { } else {brands_list = [];}
%>	





<option value="">Chưa có thương hiệu</option>
<% 
if(brands_list.length > 0){

for(var  x in brands_list) { %>

	<% 
	if(brands_list[x].brands_ID  == brand_taget_id ){ 
	%>
		<option  style="font-weight:bold;color:red;"  selected value="<%= brands_list[x].brands_ID %>"><%= brands_list[x].brands_name %></option>
	<%	
	}else{ 
	%>
		<option value ="<%= brands_list[x].brands_ID %>"><%= brands_list[x].brands_name %></option>
	<% 
	} 
	%>			
<% 
} 
%>
<% 
} 
%>