@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css";
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  background: #f1f1f1;
}

a {
  color: #00B7FF;
}

#header {
	background: #23282d;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px;
}
#header .logo {
	max-width: 100px;
}
#header .logo img {
	width: 100%;
}
#header .user {
	display: flex;
	align-items: center;
}
#header .user .user-image {
	max-width: 40px;
	margin-right: 5px;
}
#header .user .user-image img {
	width: 100%;
}
#header .user a {
	display: block;
}
#body #content {
	padding: 20px;
	margin-left: 250px;
}


/* ====== SIDEBAR ====== */
#body #sidebar {
	position: absolute;
	top: 54px;
	bottom: 0;
	left: 0;
	width: 250px;
	background: #23282d;
	color: white;
}
#sidebar .admin-menu {
	margin: 0;
	padding: 0;
}
#sidebar .admin-menu li {
	list-style: none;
	font-size: 15px;
}
#sidebar .admin-menu li a {
	text-decoration: none;
	color: white;
	display: block;
    width: 100%;
    padding: 10px;
	box-sizing: border-box;
}
#sidebar .admin-menu li a * {
	display: inline-block;
    vertical-align: middle;
}
#sidebar .admin-menu li a:hover {
	color: #4caf50;
	background: black;
}

#sidebar .admin-menu ul {
	padding: 0;
    background: #404448;
}



/* ====== PRODUCT ====== */
#content h1 {
	display: inline-block;
	vertical-align: middle;
}
.btn-add {
	display: inline-block;
    vertical-align: middle;
    border: 1px solid #096e36;
    border-radius: 4px;
    padding: 5px;
    color: #096e36;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
}
.table-list {
	border: 1px solid #e5e5e5;
	background: #fff;
	width: 100%;
	table-layout: fixed;
    text-align: left;
	border-collapse: collapse;
}
 .table-list tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
.table-list tr td, .table-list tr th {
	padding: 8px;
}
.table-list thead tr th {
	border-bottom: 1px solid #e5e5e5;
}
.table-list tfoot tr th {
	border-top: 1px solid #e5e5e5;
}
.table-list tr .pro-image {
	width: 5%;
	text-align: center;
}
.table-list tr .pro-name {
	width: 35%;
}
.table-list tbody .pro-image img {
	width: 100%;
	display: block;
}
.table-list tbody .pro-name {
	font-weight: bold;
}
.table-list tr td a {
	text-decoration: none;
}
.row-actions {
	font-weight: normal;
	color: #ddd;
	position: relative;
	left: -9999em;
	margin-top: 5px;
}
.table-list tr:hover .row-actions {
	position: static;
}
.row-actions .delete a {
	color: red;
}


/* ====== PRODUCT DETAIL ====== */
#post-body {
	display: flex;
	justify-content: space-between;
}
#post-body #post-body-content {
	width: calc(100% - 330px);
}
#post-body #postbox-container {
	width: 100%;
	max-width: 300px;
}
#post-body-content .postbox .inside {
	padding: 10px;
}
#post-body-content label {
	font-size: 1.2em;
    padding: 10px;
    display: block;
    margin-bottom: 0;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
}
#post-body-content input, #post-body-content textarea, #post-body-content select {
    padding: 5px 8px;
    line-height: 100%;
    width: 100%;
	max-width: 100%;
	min-width: 100%;
    outline: none;
    margin: 0;
    background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #bbbbbb;
    border-radius: 0;
}
#post-body .postbox {
	background: white;
	margin-bottom: 20px;
	border: 1px solid #e5e5e5;
}
#post-title input {
	font-size: 20px;
}
#post-data .inside {
	display: flex;
	justify-content: space-between;
}
#post-data .inside div {
	width: 24%;
}
#post-detail-short textarea {
	height: 50px;
}
#post-detail textarea {
	height: 150px;
}
#postbox-container .postbox h2 {
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 1.2em;
}
#postcatdiv ul {
	padding-left: 20px;
}
#postcatdiv #product_catchecklist {
	max-height: 165px;
    overflow-y: scroll;
}
#postcatdiv ul li {
	list-style: none;
}
#postcatdiv  ul li label {
	cursor: pointer;
}
#postimagediv .image-box {
	padding: 10px;
}
#postimagediv a {
	display: block;
}
#postimagediv a img {
	display: block;
	width: 100%;
}
#postgallerydiv .gallery-box {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
#postgallerydiv a {
	display: block;
	width: 25%;
	padding: 4px;
    box-sizing: border-box;
}
#postgallerydiv a img {
	display: block;
	width: 100%;
}
#post-publish a {
	font-size: 16px;
	color: white;
	background: #096e36;
	padding: 8px;
	display: block;
	text-decoration: none;
	text-align: center;
}



/* ====== CATEGORY ====== */
.table-list tr .cat-image {
	width: 5%;
	text-align: center;
}
.table-list tr .cat-image img {
	width: 100%;
}


/* ====== ORDER ====== */
.order-id {
	font-weight: bold;
}
.order-status .processing {
	background: #f8dda7;
    color: #94660c;
	padding: 8px;
	border-radius: 4px;
}
.order-status .shiping {
	background: #c6e1c6;
    color: #5b841b;
	padding: 8px;
	border-radius: 4px;
}
.order-status .complete {
	background: #c8d7e1;
    color: #2e4453;
	padding: 8px;
	border-radius: 4px;
}
.order-status .cancel {
	color: #777;
    background: #e5e5e5;
	padding: 8px;
	border-radius: 4px;
}


/* ====== ORDER DETAIL ====== */
#order-body {
	display: flex;
	justify-content: space-between;
}
#order-body #order-body-content {
	width: calc(100% - 330px);
}
#order-body #order-sidebar {
	width: 100%;
    max-width: 300px;
}
#order-body #order-detail, #order-body #order-pro, #order-body #order-price {
	background: white;
	border: 1px solid #e5e5e5;
	margin-bottom: 25px;
}
#order-body h2 {
	font-size: 1.2em;
    padding: 10px;
    display: block;
    margin: 0;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
}
#order-body h2 .order-id {
	color: #00b7ff;
}
#order-detail .order-inside {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 10px;
}
#order-detail .order-inside .order_data_column {
    width: 32%;
} 
.order_data_column h3 {
	font-size: 15px;
}
.order_data {
	margin: 0 0 10px;
}
#order-detail .order_data {
	margin-bottom: 15px;
}
#order-detail .order_data p {
	color: #999;
	margin: 0 0 5px;
	font-weight: bold;
}
#order-body select, #order-body input {
	padding: 5px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.store-active .on {
	background: #c6e1c6;
    color: #5b841b;
    padding: 8px;
    border-radius: 4px;
}
.store-active .off {
	color: #777;
    background: #e5e5e5;
    padding: 8px;
    border-radius: 4px;
}

.user-role .admin {
	background: #f8dda7;
    color: #94660c;
    padding: 8px;
    border-radius: 4px;
}
.user-role .store {
	background: #c8d7e1;
    color: #2e4453;
    padding: 8px;
    border-radius: 4px;
}
.user-role .cus {
	background: #c6e1c6;
    color: #5b841b;
    padding: 8px;
    border-radius: 4px;
}
.user-name {
	font-weight: bold;
}


/*-------------------------
css up anh slider
--------------------------*/
.img-box {
    max-width: 150px;
    box-sizing: border-box;
    position: relative;
	margin: 15px;
}
.imgShow {
    width: 100%;
    max-width: 100%;
}
.xoaAnhSlider {
	cursor: pointer;
    position: absolute;
    right: -15px;
    top: -12px;
    border: 1px solid #ffffff;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: red;
    color: white;
}
.xoaAnhDaiDien {
	cursor: pointer;
    position: absolute;
    right: -15px;
    top: -12px;
    border: 1px solid #ffffff;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: red;
    color: white;
}
#arrImgBox {
    display: flex;
}
.btn-box {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    right: 20px;
    top: 45%;
}

.btnSave {
    background-color: #39bf8b;
    box-shadow: 0 0 black;
    border: 0;
    padding: 20px 20px;
    color: white;
    cursor: pointer;
    width: 100%;
	margin-top: 30px;
}
.btnBack {
    background-color: #39bf8b;
    box-shadow: 0 0 black;
    border: 0;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
}



















