
<%


/* 
-------------------------------------------------


1. [show_discount_position_html]

2. [caution_date_product_add]
	* tính ngày thêm vào


--------------------------------------------------
*/








ojs_share_discount = {
	
	
	//@
	//@
	//@ 
	//@ 
	//@ 2. [caution_date_product_add]
	//@ * tính ngày thêm vào
	caution_date_product_add: function(ojb_date,day_add){
		//
		let result = "";
		var x = new Date(ojb_date);
		var xx = x.getTime();
		var xxx = xx + (day_add * 24 * 60 * 60 * 1000);
		
		
		result = new Date(xxx);
		
		//	
		return result;	
	},	
	
	//@
	//@
	//@ 
	//@ 
	//@ 1. [show_discount_position_html]
	show_discount_position_html: function(position){
		//
		let result = "";
		//
		if(position == 0){
			result = "" +
			'<span>Khu khuyến mãi slider</span>'
		}else if(position == 1){
			result = "" + 
			'<span>Khu khuyến mãi FLASHSALE</span>'
		}else if(position == 2){
			result = "" + 
			'<span>Khu khuyến mãi giảm giá theo mùa</span>'
		}else if(position == 3){
			result = "" + 
			'<span>Khu khuyến mãi smua 1 tặng 1 </span>'
		}else{
			result = "" + 
			'<span> Chưa có vị trí </span>'
		}			

		//	
		return result;	
	},
	//@ 

}
%>
























































