<%
/*
- file này chỉ loader các function dùng chung cho các trang manage
- chỉ manage mới dùng  
-------------------------------------------------


[show_news_bussiness_menu_sum]	
[show_count_bussiness_menu_html]
[show_count_store_menu_html]	
[show_count_status_order_by_store]	
--------------------------------------------------
*/








ojs_share_all_manage = {
	
	
	
	//@
	//@
	//@ 
	//@ [show_count_status_order_by_store]		
	show_count_status_order_by_store : function (datas,status_numbet){
		
		var data_return = 0;
		for(let x in datas){
			for(let y in status_numbet){
				if(x == status_numbet[y]){
					data_return = data_return + datas[x];
				}
			}
		}
		
		if(data_return > 0 ){
			return '<span class="news_red">' + data_return + '</span>';	
		}else{
			return '';
		}
		
	},	
	
	
	
	
	
	
	//@
	//@
	//@ 
	//@ [show_news_bussiness_menu_sum]	
	show_news_bussiness_menu_sum: function(datas){
		var data_return = 0;
		for(var i = 0; i < datas.length -1 ; i ++ ){
			if(i != 3){
				data_return = data_return + datas[i];
			}
		}
		
		data_return = '<span class="news_red">' + data_return + '</span>';
		return data_return;
	},	
	
	
	
	
	//@
	//@
	//@ 
	//@ [show_count_bussiness_menu_html]	
	show_count_bussiness_menu_html: function(datas,data_number){
		var data_return = "";
		for(var i = 0; i < datas.length -1 ; i ++ ){
			if(i == data_number &&  datas[i] > 0){
				data_return = '<span class="news_gray" title="danh mục đã duyệt">' + datas[i] + '</span>';
			}
		}
		return data_return;
	},	
	
	
	
	
	
	
	
	//@
	//@
	//@ 
	//@ [show_count_store_menu_html]	
	show_count_store_menu_html: function(datas,data_number){
		var data_return = "";
		for(var i = 0; i < datas.length -1 ; i ++ ){
			if(i == data_number &&  datas[i] > 0){
				data_return = '<span class="news_red" title="danh mục bị từ chối">' + datas[i] + '</span>';
			}
		}
		return data_return;
	}	
	
	

}




//@
//@
//@ end of oject
%>
























































