
<%


/* 
-------------------------------------------------
	* show_stauts_stock ()
	* show_stock_html()
	

--------------------------------------------------
*/








ojs_share_product = {

	//@
	//@
	//@
	//@
	show_stauts_stock: function(status){
		let result = "";
		
		if(status == '1'){
			result = '<input type="checkbox" id="products_speciality_stock_status" name="products_speciality_stock_status" value="1" checked> '; 
		}else{
			result = '<input type="checkbox" id="products_speciality_stock_status" name="products_speciality_stock_status" value="0"> '; 
		}
		//	
		return result;	
	},
	show_stock_html: function(status,qty){
		let result = "";
		
		if(status == 1){
			if(qty == 0){
				result = '' + 
				'<span style="color:red;"> <b>Hết hàng</b></span>';
			}else if(qty > 0 && qty < 5){
				result = '' + 
				'<span style="color: white;background-color: #c5bf47;display: inline-block; padding: 0px 5px;"> <b>' + qty + '</b></span>';				
			}else if(qty >= 5){
				result = '' + 
				'<span style="color:green;"> <b>' + qty + '</b></span>';				
			}			 
		}else{
				result = '' + 
				'<span style="color:green;"> <b> Luôn có hàng </b></span>';	
		}
		//	
		return result;	
	}	
}
%>
























































