
<%


/* 
-------------------------------------------------

1.[show_news_admin_menu_html]  
2.[news_admin_menu_data_config]


3.[show_news_bussiness_menu_html]  
4.[news_bussiness_menu_data_config]

5.[show_count_status_order_by_store]
	- hiển thị số đơn hàng theo status	


6.[show_price_sale_by_store]
	- hiển thị tổng price sale theo cửa hàng	


7.[show_qty_sale_by_store]
	- hiển thị tổng qty theo cửa hàng	

8.[show_news_bussiness_menu_sum]
	- lấy tổng số từ chối news bussiness

9.[show_count_bussiness_menu_html]	
	hiển thị html count menu

--------------------------------------------------
*/







ojs_share = {

	//@
	//@
	//@ tạo html hiển thị count span
	//@ 9.[show_count_bussiness_menu_html]	
	show_count_bussiness_menu_html: function(datas,data_number){
		var data_return = "";
		for(var i = 0; i < datas.length -1 ; i ++ ){
			if(i == data_number &&  datas[i] > 0){
				data_return = '<span class="news_gray">' + datas[i] + '</span>';
			}
		}
		return data_return;
	},	

	//@
	//@
	//@ lấy tổng số từ chối news bussiness
	//@ 8.[show_news_bussiness_menu_sum]	
	show_news_bussiness_menu_sum: function(datas){
		var data_return = 0;
		for(var i = 0; i < datas.length -1 ; i ++ ){
			if(i != 3){
				data_return = data_return + datas[i];
			}
		}
		
		data_return = '<span class="news_red">' + data_return + '</span>';
		return data_return;
	},	


	//@
	//@
	//@ 
	//@ 7.[show_qty_sale_by_store]
	//@ - hiển thị tổng qty theo cửa hàng	
	show_qty_sale_by_store : function (datas,store_id){
		var data_return = 0;
		datas.map(value => {
			if(value.stores_ID == store_id){
				data_return = data_return + value.sum_orders_details_speciality_qty;
			}
		})
		return data_return;	
	},
	//@
	//@
	//@ 
	//@ 7.[show_qty_sale_by_store]
	//@ - end of




	//@
	//@
	//@ 
	//@ 6.[show_price_sale_by_store]
	//@ - hiển thị tổng bán theo cửa hàng	
	show_price_sale_by_store : function (datas,store_id){
		var data_return = 0;
		datas.map(value => {
			if(value.stores_ID == store_id){
				data_return = data_return + value.sum_price_caution;
			}
		})
		return data_return;	
	},
	//@
	//@
	//@ 
	//@ 6.[show_price_sale_by_store]
	//@ - end of


	//@
	//@
	//@ 
	//@ 5.[show_count_status_order_by_store]
	//@ - hiển thị số đơn hàng theo status	
	show_count_status_order_by_store : function (datas,store_id,status_numbet){
		
		var data_return = 0;
		datas.map(value => {
			if(value.stores_ID == store_id && value.orders_speciality_status_orders == status_numbet){
				data_return ++;
			}
		})
		
		
		return data_return;		
	},
	//@
	//@
	//@ 
	//@ 5.[show_count_status_order_by_store]
	//@ - end of








	
	//@
	//@
	//@ news_admin_menu_data
	//@ 4.[news_bussiness_menu_data_config]
	show_news_bussiness_menu_home_page : function(datas,store_id){
		
		var data_config_link = [
			'demo',
			'news_user',
			'news_store',
			'/stores/manage/orders/' + store_id + '/all',
			'/categorys/general/speciality/' + store_id  ,
			'/options/speciality/' + store_id,
			'/brands/' + store_id,
			'/products/speciality/' + store_id,
			'news_discount',
			'news_discount_store_add',
			'news_discount_product_add',
			'news_comment',
			'news_review',	
			'news_review_store',
			'news_coupon',
			'/notes/' + store_id
		]	

		var data_config_text = [
			'demo',
			'User bị từ chối',
			'Cửa hàng bị từ chối',
			'Đơn hàng chưa hoàn thành',
			'Danh mục bị từ chối',
			'Thuộc tính bị từ chối',
			'Thương hiệu bị từ chối',
			'Sản phẩm bị từ chối',
			'Chương trình khuyến mãi cần phê duyệt',
			'Cửa hàng tham gia chương trình khuyến mãi mới',
			'Sản phẩm mới tham gia khuyến mãi cần phê duyệt',
			'Bình luận cần phê duyệt',
			'Có đánh giá sản phẩm mới cần phê duyệt',	
			'Có đánh giá cửa hàng mới cần phê duyệt',
			'Có mã coupon mới cần phê duyệt',
			'Tin nhắn chưa xem'
		]	

		
		
		var data_return = "";
		for(var i = 0; i < datas.length -1 ; i ++ ){
			if(datas[i] > 0){
				data_return = data_return  + '<div class="news_line_box">' + 
				'<a class="news_line" href="' + 
				data_config_link[i] + '"><span class="news_line_inner">' + data_config_text[i] + '</span><span class="news_red">' + datas[i] + 
				'</span></a></div>';
			}
		}
		return data_return;		
		
		
	},	
	
	
	
	
	
	//@
	//@
	//@ tạo html hiển thị new span
	//@ 3.[show_news_bussiness_menu_html]	
	show_news_bussiness_menu_html: function(datas,data_number){
		var data_return = "";
		for(var i = 0; i < datas.length -1 ; i ++ ){
			if(i == data_number &&  datas[i] > 0){
				var news_class = 'news_red';
				if(i == 3 ) {
					news_class = 'news_gray';
				}
				data_return = '<span class="' + news_class + '">' + datas[i] + '</span>';
			}
		}
		return data_return;
	},		

	//@
	//@
	//@ tạo html hiển thị new span
	//@ 1.[show_news_admin_menu_html]	
	show_news_admin_menu_html: function(datas,data_number){
		var data_return = "";
		for(var i = 0; i < datas.length -1 ; i ++ ){
			if(i == data_number &&  datas[i] > 0){
				data_return = '<span class="news_red">' + datas[i] + '</span>';
			}
		}
		return data_return;
	},	
	//@
	//@
	//@ news_admin_menu_data
	//@ 2.[news_admin_menu_data_config]
	show_news_admin_menu_home_page : function(datas,store_id){
		
		var data_config_link = [
			'demo',
			'news_user',
			'news_store',
			'/stores/manage/orders/' + store_id + '/all',
			'/categorys/general/speciality/' + store_id,
			'/options/speciality/' + store_id,
			'/brands/' + store_id,
			'news_discount',
			'news_discount_store_add',
			'news_discount_product_add',
			'news_comment',
			'news_review',	
			'news_review_store',
			'news_coupon',
			'/notes/' + store_id
		]	

		var data_config_text = [
			'demo',
			'User cần sử lý',
			'Cửa hàng cần sử lý',
			'Đơn hàng cần sử ký',
			'Danh mục cần sử lý',
			'Thuộc tính cần sử lý',
			'Thương hiệu cần sử lý',
			'Sản phẩm cần sử lý',
			'Chương trình khuyến mãi cần phê duyệt',
			'Cửa hàng tham gia chương trình khuyến mãi mới',
			'Sản phẩm mới tham gia khuyến mãi cần phê duyệt',
			'Bình luận cần phê duyệt',
			'Có đánh giá sản phẩm mới cần phê duyệt',	
			'Có đánh giá cửa hàng mới cần phê duyệt',
			'Có mã coupon mới cần phê duyệt',
			'Tin nhắm chưa xem'
		]	

		
		
		var data_return = "";
		for(var i = 0; i < datas.length -1 ; i ++ ){
			if(datas[i] > 0){
				data_return = data_return  + '<div class="news_line_box">' + 
				'<a class="news_line" href="' + 
				data_config_link[i] + '"><span class="news_line_inner">' + data_config_text[i] + '</span><span class="news_red">' + datas[i] + 
				'</span></a></div>';
			}
		}
		return data_return;		
		
		
	},
	//Hien thi han khuyen mai san pham
	show_han_km: function(hankm){
		//
		let result = "";
		//
		switch(hankm) {
				case 'đãhếthạn': 
					result = '<span class="status_red mb5">Hết hạn giảm giá</span>';
					break;
				case 'đangkhuyếnmãi':
					result = '<span class="status_green mb5">Đang giảm giá</span>';
					break;
				case 'khuyếnmãivôthờihạn':
					result = '<span class="status_blue mb5">Luôn giảm giá</span>';
					break;
				default:
					break;
			}
			return result;
	},
	
	//
	//thay cac ky tu  thoat khi insert database
	unCape: function(datas){
		let res = datas.replace(/\\n/g, '');
		let resResult = res.replace(/\\/g, '');
		return  resResult;
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_status_product: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Chưa duyệt</option>' + 
			'<option value="1">Đã duyệt</option>'
		}else{
			result = "" + 
			'<option value="0">Chưa duyệt</option>' + 
			'<option value="1" selected>Đã duyệt</option>'
		}		
		//	
		return result;	
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_table_status_product: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Chưa duyệt</span>'
		}else{
			result = "" + 
			'<span class="status_green"><i class="fas fa-check-circle"></i></span>'
		}		
		//	
		return result;	
	},
	//@
	//@
	//@
	//@ hiển thị trạng thái duyệt
	//dùng cho tất cả 
	//@
	show_status_select_share_all_two: function(status){
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Chờ duyệt</option>' + 
			'<option value="1">Đã duyệt</option>'
		}else{
			result = "" + 
			'<option value="0">Chưa duyệt</option>' + 
			'<option value="1" selected>Đã duyệt</option>'
		}		
		//	
		return result;	
	},	
	//@
	//@
	//@
	//@ hiển thị trạng thái duyệt
	//dùng cho tất cả 
	//@
	show_status_table_share_all: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<i class="fas fa-minus-circle yellow" title="Chờ duyệt"></i>'
		}else if(status == 1){
			result = "" + 
			'<i class="fas fa-check-circle green" title="Đã duyệt"></i>'
		}else if(status == 2){
			result = "" + 
			'<i class="fas fa-minus-circle grey" title="Sửa chờ duyệt"></i>'
		}else if(status == 3){
			result = "" + 
			'<i class="fas fa-times-circle dark_red" title="Từ chối"></i>'
		}	
		//	
		return result;	
	},
	
	//@
	//@
	//@
	//@ hiển thị trạng thái duyệt
	//dùng cho tất cả 
	//@
	show_status_select_share_all: function(status){
		let t = "";
		let s = " selected ";
		let result = "";
		
		
		
		let arr = [
			['<option value="0"',' >Chờ duyệt</option>'],
			['<option value="1"',' >Đã duyệt</option>'],
			['<option value="2"',' >Chỉnh sửa chờ duyệt</option>'],
			['<option value="3"',' >Từ chối</option>']
			
		]
		var i;
		
		for(i = 0; i < arr.length; i ++){
			if(status == i){
				result = result + arr[i][0] + " selected " + arr[i][1];
			}else{
				result = result + arr[i][0] + "" + arr[i][1];
			}
		}
		//	
		return result;	
	},	
	
	
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_coupon_formula_table: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Giảm giá theo phần trăm đơn hàng</span>'
		}else if(status == 1 ){
			result = "" + 
			'<span class="demo">Giảm giá tiền cố định theo đơn hàng</span>'
		}		
		//	
		return result;	
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_coupon_multi_table: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Không</span>'
		}else if(status == 1 ){
			result = "" + 
			'<span class="demo">Được</span>'
		}		
		//	
		return result;	
	},
	
	
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_coupon_condition_table: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Đơn hàng tối thiểu lớn hơn</span>'
		}else if(status == 1 ){
			result = "" + 
			'<span class="demo">Số lượng sản phẩm lớn hơn</span>'
		}		
		//	
		return result;	
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_coupon_type_table	: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Loại bình thường</span>'
		}else if(status == 1 ){
			result = "" + 
			'<span class="demo">loại multiline code</span>'
		}		
		//	
		return result;	
	},	
	
	
	
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_table_unit_discount: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="percent"> % </span>'
		}else{
			result = "" + 
			'<span> đ </span>'
		}		
		//	
		return result;	
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_hide: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>hiện</option>' + 
			'<option value="1">Ẩn</option>'
		}else{
			result = "" + 
			'<option value="0">hiện</option>' + 
			'<option value="1" selected>ẩn</option>'
		}		
		//	
		return result;	
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_hide_text: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "hiện";
		}else{
			result = "ẩn";
		}		
		//	
		return result;	
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_product_type: function(type){
		let type_arr = ["normal","variation"];
		//
		let result = "";
		//
		if(type == 0 || type == null){
			result = "" +
			'<option value="0"  selected>normal</option>' + 
			'<option value="1">variation</option>'
		}else{
			for(let i = 0; i < type_arr.length; i ++){
				if( type == i){
					result = result + '<option value="' + i + '" selected>' + type_arr[i] +'</option>';
				}else{
					result = result + '<option value="' + i + '">' + type_arr[i] +'</option>';
				}
			}
		}		
		//	
		return result;	
	},
	//@
	//@
	//@@@@@@@
	//@@@@@@@
	//@
	//@
	show_unit_discount: function(type){
		let type_arr = [" % (phần trăm)","Tiền cố định"];
		//
		let result = "";
		//
		if(type == 0 || type == null){
			result = "" +
			'<option value="0"  selected> % (phần trăm) </option>' + 
			'<option value="1">Tiền cố định</option>'
		}else{
			for(let i = 0; i < type_arr.length; i ++){
				if( type == i){
					result = result + '<option value="' + i + '" selected>' + type_arr[i] +'</option>';
				}else{
					result = result + '<option value="' + i + '">' + type_arr[i] +'</option>';
				}
			}
		}		
		//	
		return result;	
	},	
	//@
	//@
	//@@@@@@@
	//@@@@@@@
	//@
	//@
	show_category_products: function(product_id,datas_link){
		//
		let result = "";
		
		/*
		for(let i = 0; i < datas_link.length; i ++){
			result =  result + " | " + product_id;
		}		
		*/

		//
		for(let i = 0; i < datas_link.length; i ++){
			if( product_id == datas_link[i].category_general_speciality_link_product_id ){
				if(result == "" ){
					result =  datas_link[i].category_general_speciality_name;
				}else{
					result = result + " , " + datas_link[i].category_general_speciality_name;
				}
			}
		}

		//	
		return result;	
	},
	//@
	//@ hiển thị trạng thái don hàng
	show_status_orders_complate: function(status){
		let result = "";
		let selected_status = "";
		let status_arr = [
			"Chờ xác nhận",
			"Hoàn thành",
			"Chờ lấy hàng",
			"Đang giao",
			"Đổi trả",
			"Đã hủy"
			];
			
		//@
		//@
		//* get selected_text	

		for(var i = 0; i < status_arr.length ; i ++){
			if(status ==  1 ){
				selected_status = "status_green";
			}else if(status ==  0 ){
				selected_status = "status_yellow";	
			}else if(status ==  4 ){
				selected_status = "status_red";	
			}
			else if(status ==  5 ){
				selected_status = "status_gray";	
			}
			else{
				selected_status = "status_blue";	
			}
		}			
		
		result = "" + 
		'<span class="' + selected_status + '">' + status_arr[status] + '</span>'	
		
		return result;
	},
	//@
	//@ hiển thị trạng thái thanh toán
	show_status_orders_checkout: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Chưa thanh toán</span>'
		}else{
			result = "" + 
			'<span class="status_green">Đã thanh toán</span>'
		}		
		//	
		return result;	
	},
	//@
	//@ hiển thị trạng thái thanh toán
	show_status_checkout: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Chưa thanh toan</option>' + 
			'<option value="1">Đã thanh toán</option>'
		}else{
			result = "" + 
			'<option value="0">Chưa thanh toán</option>' + 
			'<option value="1" selected>Đã thanh toán</option>'
		}		
		//	
		return result;	
	},
	//@
	//@ hiển thị trạng thái thanh toán
	show_coupon_type_select: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Loại thường</option>' + 
			'<option value="1">Loại multiline code</option>'
		}else{
			result = "" + 
			'<option value="0">selected>Loại thường</option>' + 
			'<option value="1" selected>Loại multiline code</option>'
		}		
		//	
		return result;	
	},
	//@
	//@ hiển thị trạng thái thanh toán
	show_coupon_formula_select: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Giảm giá theo phần trăm đơn hàng</option>' + 
			'<option value="1">Giảm giá tiền cố định theo đơn hàng</option>'
		}else{
			result = "" + 
			'<option value="0">Giảm giá theo phần trăm đơn hàng</option>' + 
			'<option value="1" selected>Giảm giá tiền cố định theo đơn hàng</option>'
		}		
		//	
		return result;	
	},
	//@
	//@ hiển thị trạng thái thanh toán
	show_coupon_multi_select: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Không</option>' + 
			'<option value="1">Có</option>'
		}else{
			result = "" + 
			'<option value="0">Không</option>' + 
			'<option value="1" selected>Có</option>'
		}		
		//	
		return result;	
	},

	//@
	//@ hiển thị trạng thái thanh toán
	show_coupon_condition_select : function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Tổng đơn hàng tối thiểu </option>' + 
			'<option value="1">Số lượng đơn hàng tối thiểu</option>'
		}else{
			result = "" + 
			'<option value="0">Tổng đơn hàng tối thiểu</option>' + 
			'<option value="1" selected>Số lượng đơn hàng tối thiểu</option>'
		}		
		//	
		return result;	
	},
	
	
	
	//@
	//@ hiển thị trạng thái thanh toán
	show_status_orders: function(status){
		//
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Chưa hoàn thành</option>' + 
			'<option value="1">Đã hoàn thành</option>'
		}else{
			result = "" + 
			'<option value="0">Chưa hoàn thành</option>' + 
			'<option value="1" selected>Đã hoàn thành</option>'
		}		
		//	
		return result;	
	},
	//@
	//@ tinh toán discount
	show_order_caution_discount_line: function(total,discount,unit,qty){
		//
		//
		let result;
		//
		if(unit == 0){
			result = total * discount / 100;
		}else{
			result = discount * qty;
		}
		//	
		return result;	
	},
	//@
	//@ sum discount
	show_order_sum_discount_line: function(total,discount,unit,qty){
		//
		//
		let result;
		//
		if(unit == 0){
			var dis = total * discount / 100;
			result = total - dis;
		}else{
			result = total - (discount * qty) ;
		}
		//	
		return result;	
	},
	//function show money 
	//su dung: gia_shipping =  show_price_vnd(gia_shipping_check,0,",",".","đ")
	show_price_vnd:function(ojs,c, d, t,dv){
		var n = ojs, 
		c = isNaN(c = Math.abs(c)) ? 2 : c, 
		d = d == undefined ? "." : d, 
		t = t == undefined ? "," : t, 
		s = n < 0 ? "-" : "", 
		i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
		j = (j = i.length) > 3 ? j % 3 : 0;
	   var kq =  s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
	   return kq + " đ";
	},
	//function show money 
	//su dung: gia_shipping =  show_price_format(gia_shipping_check,0,",",".","đ")
	show_price_format:function(ojs,c, d, t,dv){
		var n = ojs, 
		c = isNaN(c = Math.abs(c)) ? 2 : c, 
		d = d == undefined ? "." : d, 
		t = t == undefined ? "," : t, 
		s = n < 0 ? "-" : "", 
		i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
		j = (j = i.length) > 3 ? j % 3 : 0;
	   var kq =  s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
	   return kq + dv;
	},	
	
	
	//function chuyen text thanh so 
	//su dung: gia_shipping =  string_to_int(ojs);
	string_to_int:function(ojs){
		var n = ojs;
		var n_split = n.split(",");
		var i = 0;
		var ntext = "";
		
		for(i=0; i < n_split.length ; i ++){
			ntext = ntext + n_split[i];
		}
		return parseInt(ntext);
	},
	
	//@
	//@ show local province
	show_local_province: function(datas,taget){
		//@
		//@
		let data_return = "";
		//@
		
		let i;
		let txt_for = '<option value="0"></option>';
		for(i = 0; i < datas.length ; i ++ ){
			if(datas[i].Name == taget){
				txt_for = txt_for + '<option selected  value="' +  datas[i].Name + '">' + datas[i].Name + '</option>';
			}else{
				txt_for = txt_for + '<option value="' +  datas[i].Name + '">' + datas[i].Name + '</option>';
			}
			
		}
		data_return = data_return + txt_for;		
		
		//@
		//@	
		return data_return;	
	},
	//@	
	//@
	//@ show local
	show_local_district: function(datas,parent_taget,taget){
		//@
		//@
		let data_return = "";
		//return '<option value="asdasd">dasdas</option>';
		//@
		let i;
		let txt_for = '<option value="0"></option>';
		for(i = 0; i < datas.length ; i ++ ){
			//@
			//perent taget
			if(datas[i].Name == parent_taget){
				//@
				//loop districts
				for(let ii = 0; ii < datas[i].Districts.length ; ii ++ ){
					if(datas[i].Districts[ii].Name == taget){
						txt_for = txt_for + '<option selected  value="' +  datas[i].Districts[ii].Name + '">' + datas[i].Districts[ii].Name + '</option>';
					}else{
						txt_for = txt_for + '<option value="' +  datas[i].Districts[ii].Name + '">' + datas[i].Districts[ii].Name + '</option>';
					}
				}
			}//end of parent taget
		}
		data_return = data_return + txt_for;		
		//@
		//@	
		return data_return;	
	},
	//@	
	//@
	//@ show local
	show_local_wards: function(datas,parent_taget,taget){
		//@
		//@
		let data_return = "";
		//return '<option value="asdasd">dasdas</option>';
		//@
		let i;
		let txt_for = '<option value="0"></option>';
		for(i = 0; i < datas.length ; i ++ ){
			//@
			//@
			for(let ii = 0; ii < datas[i].Districts.length ; ii ++ ){
				//@
				//@
				//parent taget
				if(datas[i].Districts[ii].Name == parent_taget){
					for(let iii = 0; iii < datas[i].Districts[ii].Wards.length ; iii ++ ){
						if(datas[i].Districts[ii].Wards[iii].Name == taget){
							txt_for = txt_for + '<option selected  value="' +  datas[i].Districts[ii].Wards[iii].Name  + '">' + datas[i].Districts[ii].Wards[iii].Name + '</option>';
						}else{
							txt_for = txt_for + '<option value="' +  datas[i].Districts[ii].Wards[iii].Name + '">' + datas[i].Districts[ii].Wards[iii].Name + '</option>';
						}
					}	
				}
			}
			//@
			//@
		}
		data_return = data_return + txt_for;		
		//@
		//@	
		return data_return;	
	},
	//@		
}
%>
























































