
<%
/*
- ojs_share_all
- Đây là file viết các function dùng chung
- File này loader cho tất cả các trang web
- Không nên sữa file nếu bạn không hiểu rõ về chức năng muốn sữa
	vì nò liên qua tới nhiều file khác
- Ưu tiên viết thêm vào không ưu tiên sữa và xoá
*/






/* 
-------------------------------------------------
*  [format_date]	
*  [show_price_format]
*  [unCape]	
*  [unCape]
*  [show_status]	
*  [show_status_html]
		
--------------------------------------------------
*/







//@
//@
//@
//@ object start
ojs_share_all = {	
	
	
	//@
	//@
	//@
	//@ [show_status_html]
	//@ hien thi trang  thai san pham html	
	show_status_html: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<i class="fas fa-minus-circle gray" title="bản nháp"></i>'
		}else if(status == 1){
			result = "" + 
			'<i class="fas fa-check-circle green" title="Đã duyệt"></i>'
		}else if(status == 2){
			result = "" + 
			'<i class="fas fa-minus-circle grey" title="Sửa chờ duyệt"></i>'
		}else if(status == 3){
			result = "" + 
			'<i class="fas fa-times-circle dark_red" title="Từ chối"></i>'
		}else if(status == 4){
			result = "" + 
			'<i class="fas fa-minus-circle yellow" title="Chờ duyệt"></i>'
		}	
		//	
		return result;	
	},	
	

	
	//@
	//@
	//@
	//@ [show_status]
	show_status: function(status){
		let t = "";
		let s = " selected ";
		let result = "";
		
		
		
		let arr = [
			['<option value="0"',' >Bản nháp</option>'],
			['<option value="1"',' >Đã duyệt</option>'],
			['<option value="2"',' >Chỉnh sửa chờ duyệt</option>'],
			['<option value="3"',' >Từ chối</option>'],
			['<option value="4"',' >Chờ duyệt</option>']			
		]
		var i;
		
		for(i = 0; i < arr.length; i ++){
			if(status == i){
				result = result + arr[i][0] + " selected " + arr[i][1];
			}else{
				result = result + arr[i][0] + "" + arr[i][1];
			}
		}
		//	
		return result;	
	},		
	
	
	
	
	
	//@
	//@
	//@
	//@ 
	//@ 
	//@ [format_date]
	format_date : function(datas){
		
		//return datas;
		
		if(datas == ""  || datas == null || datas == "NULL"){
			return "";
		}
		
		var time_string = "";
		var time_add_zone = new Date(datas);
		//@
		//@
		let y = time_add_zone.getFullYear();
		let m = time_add_zone.getMonth() + 1;
		let d = time_add_zone.getDate();
		let h = time_add_zone.getHours();
		let p = time_add_zone.getMinutes();
		let g = time_add_zone.getSeconds();
		
		
		//@
		//@
		time_string = y + "/" + m + "/" + d + " " + h + ":" + p + ":" + g ;
		return time_string ;		
	},	
	
	
	
	
	
	
	//@
	//@
	//@
	//@ [show_price_format]
	show_price_format:function(ojs,c, d, t,dv){
		var n = ojs, 
		c = isNaN(c = Math.abs(c)) ? 2 : c, 
		d = d == undefined ? "." : d, 
		t = t == undefined ? "," : t, 
		s = n < 0 ? "-" : "", 
		i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
		j = (j = i.length) > 3 ? j % 3 : 0;
	   var kq =  s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
	   return kq + dv;
	},
	
	
	
	//@
	//@
	//@
	//@ [unCape]	
	unCape: function(datas){
		let res = datas.replace(/\\n/g, '');
		let resResult = res.replace(/\\/g, '');
		return  resResult;
	},	
	



//@
//@
//@
//@ end of object
}
%>
























































