
<%


/* 
-------------------------------------------------

1. [datas_orders_status]

5. [datas_orders_status_fillter]

6. [show_order_status_select_fillter]

2. [show_order_status_select_insert]

3. [show_order_status_select_update]

4. [show_order_status_html]

5. [tong_tien_don_hang_theo_id]
	*  tổng tiền thu hộ của order
	
	
6.[tong_tien_don_hang_theo_line_order]	
	
7. [show_status_checkout]

8. [show_order_caution_discount_line]	

--------------------------------------------------
*/








ojs_share_orders = {
	
	
	//@
	//@
	//@ 
	//@ [show_order_caution_discount_line]		
	show_order_caution_discount_line: function(total,discount,unit,qty){
		//
		//
		let result;
		//
		if(unit == 0){
			result = total * discount / 100;
		}else{
			result = discount * qty;
		}
		//	
		return result;	
	},	
	
	
	//@
	//@
	//@ 
	//@ 6.[tong_tien_don_hang_theo_line_order]	
	abc : function (a){
			return "sdfsdfsdfsf";
	},
	
	
	//@ [show_status_checkout]
	show_status_checkout: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Chưa thanh toan</option>' + 
			'<option value="1">Đã thanh toán</option>'
		}else{
			result = "" + 
			'<option value="0">Chưa thanh toán</option>' + 
			'<option value="1" selected>Đã thanh toán</option>'
		}		
		//	
		return result;	
	},	
	
	//@
	//@
	//@ 
	//@ 6.[tong_tien_don_hang_theo_line_order]	
	tong_tien_don_hang_theo_line_order : function (datas,line_order){
		
		var data_return = 0;
		var line_product = 0;
		var coupon = 0;
		var add = 0;
		var reduce = 0;
		var shipping = 0;
		var tax = 0;
		
		if(datas.length > 0){
			for(let x in datas){
				if(datas[x].orders_speciality_ID == order_id){
					
					if(datas[x].orders_details_speciality_line_order == "product"){
						line_product = line_product + datas[x].price_caution
					}else if(datas[x].orders_details_speciality_line_order == "coupon"){
						coupon = coupon + datas[x].orders_details_speciality_price		

					}else if(datas[x].orders_details_speciality_line_order == "add"){
						add = add + datas[x].orders_details_speciality_price

					}else if(datas[x].orders_details_speciality_line_order == "tax"){
						tax = tax + datas[x].orders_details_speciality_price
						
					}else if(datas[x].orders_details_speciality_line_order == "reduce"){
						reduce = reduce + datas[x].orders_details_speciality_price
						
					}else if(datas[x].orders_details_speciality_line_order == "shipping"){
						shipping = shipping + datas[x].orders_details_speciality_price		
						
					}
				}
			}
		}
		//@
		//@
		//@
		if(line_order == "product"){
			data_return = line_product;
			
		}else if(line_order == "shipping"){
			data_return = shipping;
			
		}else if(line_order == "add"){
			data_return = add;

		}else if(line_order == "reduce"){
			data_return = reduce;			

		}else if(line_order == "coupon"){
			data_return = coupon;
			
		}else if(line_order == "tax"){
			data_return = tax;
			
		}
		
		//@
		//@
		return data_return;		
	},	
	
	
	//@
	//@
	//@ 
	//@ 4.[tong_tien_don_hang]
	tong_tien_don_hang_theo_id : function (datas,order_id){
		
		var data_return = 0;		
		var line_product = 0;
		var coupon = 0;
		var add = 0;
		var reduce = 0;
		var shipping = 0;
		var tax = 0;
		
		if(datas.length > 0){
			for(let x in datas){
				if(datas[x].orders_speciality_ID == order_id){
					
					if(datas[x].orders_details_speciality_line_order == "product"){
						line_product = line_product + datas[x].price_caution
					}else if(datas[x].orders_details_speciality_line_order == "coupon"){
						coupon = coupon + datas[x].orders_details_speciality_price		

					}else if(datas[x].orders_details_speciality_line_order == "add"){
						add = add + datas[x].orders_details_speciality_price

					}else if(datas[x].orders_details_speciality_line_order == "tax"){
						tax = tax + datas[x].orders_details_speciality_price
						
					}else if(datas[x].orders_details_speciality_line_order == "reduce"){
						reduce = reduce + datas[x].orders_details_speciality_price
						
					}else if(datas[x].orders_details_speciality_line_order == "shipping"){
						shipping = shipping + datas[x].orders_details_speciality_price		
						
					}
				}
			}
		}
		data_return = line_product + add + tax + shipping -( coupon + reduce )
		return data_return;		
	},
	//@
	//@
	//@ 
	//@ 5.[show_count_status_order_by_store]
	//@ - end of		
	
	//@
	//@
	//@ 
	//@ 3.[show_count_status_order_by_store]
	//@ - hiển thị số đơn hàng theo status	
	show_count_status_order_by_store : function (datas,store_id,status_numbet){
		
		var data_return = 0;
		datas.map(value => {
			for(let x in status_numbet){
				if(value.stores_ID == store_id && value.orders_speciality_status_orders == status_numbet[x]){
					data_return ++;
				}
			}
		})
		
		
		return data_return;		
	},
	//@
	//@
	//@ 
	//@ 5.[show_count_status_order_by_store]
	//@ - end of	
	
	
	
	
	
	
	//@
	//@ hiển thị trạng thái thanh toán
	show_status_orders_checkout: function(status){
		//
		let result = "";
		//
		if(status == "0" || status == null || status == "NULL"){
			result = "" +
			'<span class="demo">Chưa thanh toán</span>'
		}else{
			result = "" + 
			'<span class="status_green">Đã thanh toán</span>'
		}		
		//	
		return result;	
	},
	//@	
	
	
	
	
	//@
	//@
	//@
	//@ 1. [datas_orders_status]
	datas_orders_status : [	
		{"status":"0","name":"Chờ cửa hàng xác nhận"},
		{"status":"100","name":"Đã hoàn thành"},
		{"status":"1","name":"Đã gữi đơn cho GHTK -> chờ xác nhận"},
		{"status":"2","name":"Shipper đã tiếp nhận đơn hàng"},
		
		
		{"status":"101","name":"Cửa hàng đã xác nhận đơn hàng"},
		{"status":"102","name":"Cửa hàng đã từ chối đơn hàng"},		
		{"status":"103","name":"Đã gữi đơn cho Shipper DALA -> chờ Shipper xác nhận"},
		
		{"status":"3","name":"Đã lấy hàng/Đã nhập kho"},
		{"status":"4","name":"Đã điều phối giao hàng/Đang giao hàng"},
		{"status":"5","name":"Đã giao hàng/Chưa đối soát"},

		{"status":"6","name":"Đã đối soát"},
		{"status":"7","name":"Không lấy được hàng"},
		{"status":"8","name":"Hoãn lấy hàng"},
		{"status":"9","name":"Không giao được hàng"},
		{"status":"10","name":"Delay giao hàng"},

		{"status":"11","name":"Đã đối soát công nợ trả hàng"},
		{"status":"12","name":"Đã điều phối lấy hàng/Đang lấy hàng"},
		{"status":"13","name":"Đơn hàng bồi hoàn"},
		{"status":"20","name":"Đang trả hàng (COD cầm hàng đi trả)"},
		{"status":"21","name":"Đã trả hàng (COD đã trả xong hàng)"},

		{"status":"123","name":"Shipper báo đã lấy hàng"},
		{"status":"127","name":"Shipper (nhân viên lấy/giao hàng) báo không lấy được hàng"},
		{"status":"128","name":"Shipper báo delay lấy hàng"},
		{"status":"45","name":"Shipper báo đã giao hàng"},
		{"status":"49","name":"Shipper báo không giao được giao hàng"},
		{"status":"410","name":"Shipper báo delay giao hàng"},
		
		{"status":"-1","name":"Khách hàng đã hủy đơn hàng"},
	],
	datas_orders_status_fillter : [	
		{"status":"[-1,0,1,2,3,4,5,6,7,8,9,10,11,12,13,20,21,123,127,128,45,49,410,100,101,102,103]","name":"Tất cả"},
		{"status":"[-1,0,1,2,3,4,5,6,7,8,9,10,11,12,13,20,21,123,127,128,45,49,410,101,102,103]","name":"Chưa hoàn thành"},
		{"status":"[100]","name":"Đã hoàn thành"},
		{"status":"[0]","name":"Chờ cửa hàng xác nhận"},
		{"status":"[-1]","name":"Khách hàng đã hủy đơn hàng"},
		{"status":"[1]","name":"Đã gữi đơn cho GHTK -> chờ xác nhận"},
		{"status":"[2]","name":"Shipper đã tiếp nhận đơn hàng"},
		
		{"status":"[101]","name":"Cửa hàng đã xác nhận đơn hàng"},
		{"status":"[102]","name":"Cửa hàng đã từ  chối  đơn hàng"},		
		{"status":"[103]","name":"Đã gữi đơn cho Shipper DALA -> chờ Shipper xác nhận"},	
		
		{"status":"[3]","name":"Đã lấy hàng/Đã nhập kho"},
		{"status":"[4]","name":"Đã điều phối giao hàng/Đang giao hàng"},
		{"status":"[5]","name":"Đã giao hàng/Chưa đối soát"},

		{"status":"[6]","name":"Đã đối soát"},
		{"status":"[7]","name":"Không lấy được hàng"},
		{"status":"[8]","name":"Hoãn lấy hàng"},
		{"status":"[9]","name":"Không giao được hàng"},
		{"status":"[10]","name":"Delay giao hàng"},


		{"status":"[11]","name":"Đã đối soát công nợ trả hàng"},
		{"status":"[12]","name":"Đã điều phối lấy hàng/Đang lấy hàng"},
		{"status":"[13]","name":"Đơn hàng bồi hoàn"},
		{"status":"[20]","name":"Đang trả hàng (COD cầm hàng đi trả)"},
		{"status":"[21]","name":"Đã trả hàng (COD đã trả xong hàng)"},



		{"status":"[123]","name":"Shipper báo đã lấy hàng"},
		{"status":"[127]","name":"Shipper (nhân viên lấy/giao hàng) báo không lấy được hàng"},
		{"status":"[128]","name":"Shipper báo delay lấy hàng"},
		{"status":"[45]","name":"Shipper báo đã giao hàng"},
		{"status":"[49]","name":"Shipper báo không giao được giao hàng"},
		{"status":"[410]","name":"Shipper báo delay giao hàng"}
		
	],
	//@
	//@
	//@
	//@ 
	//@ 
	//@ 
	//@
	//@ 2. [show_order_status_select_insert]
	show_order_status_select_insert: function(){
		let result = "";
		for(let x in ojs_share_orders.datas_orders_status){
			result = result + '<option value="' + ojs_share_orders.datas_orders_status[x].status + '">' + 
			ojs_share_orders.datas_orders_status[x].name + '</option>';
		}
		//@
		//@
		//@		
		return result;	
	},
	
	
	//@ 3. [show_order_status_select_update]
	show_order_status_select_update: function(status){
		let result = "";
		for(let x in ojs_share_orders.datas_orders_status){
			if(ojs_share_orders.datas_orders_status[x].status == status){
				result = result + '<option value="' + ojs_share_orders.datas_orders_status[x].status + '"  selected>' + 
				ojs_share_orders.datas_orders_status[x].name + '</option>';
			}else{
				result = result + '<option value="' + ojs_share_orders.datas_orders_status[x].status + '">' + 
				ojs_share_orders.datas_orders_status[x].name + '</option>';
			}
		}
		//@
		//@
		//@		
		return result;	
	},	
	
	//@
	//@
	//@
	//@ 
	//@ 
	//@ 
	//@
	//@ 4. [show_order_status_html]
	show_order_status_html : function(status){
		let result = "";
		for(let x in ojs_share_orders.datas_orders_status){
			if(ojs_share_orders.datas_orders_status[x].status == status){
				if(status == "100"){
					result = result  + '<span class="status_ok">' +  ojs_share_orders.datas_orders_status[x].name + '</span>';
					return result ;
				}else{
					result = result  + '<span class="status_nomal">' +  ojs_share_orders.datas_orders_status[x].name + '</span>';
					return result ;
				}
			}
		}
		//@
		//@
		//@		
	},	
	
	
	//@ 
	//@ 
	//@ 
	//@
	//@ 6. [show_order_status_select_fitter]
	show_order_status_select_fitter: function(){
		let result = "";
		for(let x in ojs_share_orders.datas_orders_status_fillter){
			result = result + '<option value="' + ojs_share_orders.datas_orders_status_fillter[x].status + '">' + 
			ojs_share_orders.datas_orders_status_fillter[x].name + '</option>';
		}
		//@
		//@
		//@		
		return result;	
	},	
	

}
%>
























































