
<%


/* 
-------------------------------------------------


1. [show_coupon_formula_select]

2. [show_coupon_condition_select]





--------------------------------------------------
*/








ojs_share_coupon = {

	//@
	//@
	//@
	//@ 
	//@ 
	//@ 
	//@
	//@ 1. [show_coupon_formula_select]
	show_coupon_formula_select: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Giảm giá theo phần trăm đơn hàng</option>' + 
			'<option value="1">Giảm giá tiền cố định theo đơn hàng</option>' + 
			'<option value="2">Miễn phí vận chuyển</option>'
		}else if(status == 1 ){
			result = "" + 
			'<option value="0">Giảm giá theo phần trăm đơn hàng</option>' + 
			'<option value="1" selected>Giảm giá tiền cố định theo đơn hàng</option>' + 
			'<option value="2">Miễn phí vận chuyển</option>'
		}else if(status == 2 ){
			result = "" + 
			'<option value="0">Giảm giá theo phần trăm đơn hàng</option>' + 
			'<option value="1" >Giảm giá tiền cố định theo đơn hàng</option>' + 
			'<option value="2" selected>Miễn phí vận chuyển</option>'
		}			
		//	
		return result;	
	},
	
	//@
	//@
	//@
	//@ 
	//@ 
	//@ 
	//@
	//@ 2. [show_coupon_condition_select]
	show_coupon_condition_select : function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Tổng đơn hàng tối thiểu </option>' + 
			'<option value="1">Số lượng đơn hàng tối thiểu</option>' + 
			'<option value="2">Mọi điều kiện</option>' + 
			'<option value="3">Mua hàng lần đầu</option>'
		}else if(status == 1){
			result = "" + 
			'<option value="0">Tổng đơn hàng tối thiểu</option>' + 
			'<option value="1" selected>Số lượng đơn hàng tối thiểu</option>' + 
			'<option value="2">Mọi điều kiện</option>' +
			'<option value="3">Mua hàng lần đầu</option>'
		}else if(status == 2){
			result = "" + 
			'<option value="0">Tổng đơn hàng tối thiểu</option>' + 
			'<option value="1" >Số lượng đơn hàng tối thiểu</option>' + 
			'<option value="2" selected>Mọi điều kiện</option>' + 
			'<option value="3">Mua hàng lần đầu</option>'
	
		}else if(status == 3){
			result = "" + 
			'<option value="0">Tổng đơn hàng tối thiểu</option>' + 
			'<option value="1" >Số lượng đơn hàng tối thiểu</option>' + 
			'<option value="2" >Mọi điều kiện</option>' + 
			'<option value="3" selected>Mua hàng lần đầu</option>'
		}		
		//	
		return result;	
	},
}
%>
























































