
<%
//@
//@
//@
//@ oject
ojs_share_category = {

	//@
	//@
	//@
	//@
	//@ hien thi trang  thai san pham html	
	show_status_html: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<i class="fas fa-minus-circle gray" title="bản nháp"></i>'
		}else if(status == 1){
			result = "" + 
			'<i class="fas fa-check-circle green" title="Đã duyệt"></i>'
		}else if(status == 2){
			result = "" + 
			'<i class="fas fa-minus-circle grey" title="Sửa chờ duyệt"></i>'
		}else if(status == 3){
			result = "" + 
			'<i class="fas fa-times-circle dark_red" title="Từ chối"></i>'
		}else if(status == 4){
			result = "" + 
			'<i class="fas fa-minus-circle yellow" title="Chờ duyệt"></i>'
		}	
		//	
		return result;	
	},	
	

	
	//@
	//@
	//@
	//@ hien thi trang  thai san pham update
	show_status: function(status){
		let t = "";
		let s = " selected ";
		let result = "";
		
		
		
		let arr = [
			['<option value="0"',' >Bản nháp</option>'],
			['<option value="1"',' >Đã duyệt</option>'],
			['<option value="2"',' >Chỉnh sửa chờ duyệt</option>'],
			['<option value="3"',' >Từ chối</option>'],
			['<option value="4"',' >Chờ duyệt</option>']			
		]
		var i;
		
		for(i = 0; i < arr.length; i ++){
			if(status == i){
				result = result + arr[i][0] + " selected " + arr[i][1];
			}else{
				result = result + arr[i][0] + "" + arr[i][1];
			}
		}
		//	
		return result;	
	},	
	
	
	
//@
//@
//@
//@	
}
%>
























































