
<%


/* 
-------------------------------------------------
	* show_stauts_stock ()
	* show_stock_html()
	

--------------------------------------------------
*/








ojs_share_product = {

	//@
	//@
	//@
	//@
	show_stauts_stock: function(status){
		let result = "";
		
		if(status == '1'){
			result = '<input type="checkbox" id="products_speciality_stock_status" name="products_speciality_stock_status" value="1" checked> '; 
		}else{
			result = '<input type="checkbox" id="products_speciality_stock_status" name="products_speciality_stock_status" value="0"> '; 
		}
		//	
		return result;	
	},
	show_stock_html: function(status,qty){
		let result = "";
		
		if(status == 1){
			if(qty == 0){
				result = '' + 
				'<span style="color:red;"> <b>Hết hàng</b></span>';
			}else if(qty > 0 && qty < 5){
				result = '' + 
				'<span style="color: white;background-color: #c5bf47;display: inline-block; padding: 0px 5px;"> <b>' + qty + '</b></span>';				
			}else if(qty >= 5){
				result = '' + 
				'<span style="color:green;"> <b>' + qty + '</b></span>';				
			}			 
		}else{
				result = '' + 
				'<span style="color:green;"> <b> Luôn có hàng </b></span>';	
		}
		//	
		return result;	
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_product_type: function(type){
		let type_arr = ["normal product","variation product","Gift product"];
		//
		let result = "";
		//
		if(type == 0 || type == null){
			result = "" +
			'<option value="0"  selected>Normal product</option>' + 
			'<option value="1">Variation product</option>' + 
			'<option value="2" >Gift product</option>';		
			
		}else{
			for(let i = 0; i < type_arr.length; i ++){
				if( type == i){
					result = result + '<option value="' + i + '" selected>' + type_arr[i] +'</option>';
				}else{
					result = result + '<option value="' + i + '">' + type_arr[i] +'</option>';
				}
			}
		}		
		//	
		return result;	
	},	
	
	
	
	
	
	
	//@
	//@
	//@
	//@ hien thi trang  thai san pham update
	show_status: function(status){
		let t = "";
		let s = " selected ";
		let result = "";
		
		
		
		let arr = [
			['<option value="0"',' >Bản nháp</option>'],
			['<option value="1"',' >Đã duyệt</option>'],
			['<option value="2"',' >Chỉnh sửa chờ duyệt</option>'],
			['<option value="3"',' >Từ chối</option>'],
			['<option value="4"',' >Chờ duyệt</option>']			
		]
		var i;
		
		for(i = 0; i < arr.length; i ++){
			if(status == i){
				result = result + arr[i][0] + " selected " + arr[i][1];
			}else{
				result = result + arr[i][0] + "" + arr[i][1];
			}
		}
		//	
		return result;	
	},		
	
	
	
	
	
	//@
	//@
	//@
	//@ hien thi trang  thai san pham html	
	show_status_html: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<i class="fas fa-minus-circle gray" title="bản nháp"></i>'
		}else if(status == 1){
			result = "" + 
			'<i class="fas fa-check-circle green" title="Đã duyệt"></i>'
		}else if(status == 2){
			result = "" + 
			'<i class="fas fa-minus-circle grey" title="Sửa chờ duyệt"></i>'
		}else if(status == 3){
			result = "" + 
			'<i class="fas fa-times-circle dark_red" title="Từ chối"></i>'
		}else if(status == 4){
			result = "" + 
			'<i class="fas fa-minus-circle yellow" title="Chờ duyệt"></i>'
		}	
		//	
		return result;	
	},	
	
	
	
	
}
%>
























































