<% include ./loadding-message %>
<input type="hidden" value="<%- menu_taget %>" id="id_taget"/>
<input type="hidden" value="<%- menu_taget_child %>" id="id_taget_child"/>
</body>
</html>





<script>
	$(document).ready(function(){
	//////////////////////////////////////////////
		
	//@
	//@
	//@
	$(document).on('click','.btn-pull',function(e) {	
	
	
	
		//@
		//@
		//@
		e.preventDefault();		
		let order_id = $(this).attr("dala_order_id");
		var datas={
			"datas":
				{
					"orders_speciality_status_pull_money":1
				}
		}
		
		
		//@
		//@
		//@
		let x = "xác nhận thanh toan tiền cho cửa hàng";		
		let y = "thanh_toan_yeu_cau_rut_tien";//function name in callback 
		let z = ' { "order_id" : "' + order_id + '", "datas":' + JSON.stringify(datas) + ' }';
		ojs_message.message_yes_no_show(x,y,z);				

	});	

	/////////////////////////////////////////////////		
	});
</script>	







