<%- include("./loadding-message") %>
<input type="hidden" value="<%- menu_taget %>" id="id_taget"/>
<input type="hidden" value="<%- menu_taget_child %>" id="id_taget_child"/>
</body>
</html>





<script>
	$(document).ready(function(){
	//////////////////////////////////////////////
		
	//@
	//@
	//@
	try {
		let id_value = $('#id_taget').val();
		if(id_value != "abc"){
			$('#' + id_value).addClass('menu_taget');
		}
	}
	catch(err) {
	  console.log("lỗi set menu taget");
	}		
		
	//@
	//@
	//@	
	try {
		var id_value_child = $('#id_taget_child').val();
		if(id_value_child != "abc"){
			$('#' + id_value_child).addClass('menu_taget_child');
		}	
	}
	catch(err) {
	  console.log("lỗi set menu taget child");
	}		
		
	/////////////////////////////////////////////////		
	});
</script>	







