
<div class="ajax-loadding-container">
<div class="ajax-loadding-box">
	<img class="ajax-loadding-image" src="/images/ajax-loader.gif" />
    <img class="ajax-loadding-image" src="/images/ajax-error.png" />
    <img class="ajax-loadding-image" src="/images/ajax-done.png" />
</div>
</div>
<!-- //loadding-box -->


<!-- ajax-loadding -->
<div class="ajax-load-container">
<div class="ajax-load-bt">X</div>
<div class="ajax-load-box">
</div>
</div>
<!-- //loadding-box -->


<!-- ajax-loadding2 -->
<div class="ajax-load-container2">
<div class="ajax-load-bt2">X</div>
<div class="ajax-load-box2"><!-- end of ajax load   -->
<!-- ------------------------------------------------
        end of giá chon
----------------------------------------------------->
</div>
</div>





<!-- message-loadding -->
<div class="message-wrap">
<div class="message-container">
<div class="message-box">
	<h1><span>Dala Company</span><span>Thông báo !!</span></h1>
	<div class="message-content"></div>
    <div class="yes-no-button display-hide"><span class="yes-button">Yes</span><span class="no-button">No</span></div>
    <div class="ok-button"><span id="ok">Ok</span></div>
</div>
</div>
</div>
<!-- //message-box -->
