


<!-- --------------------
content
--------------------- -->
<div id="content" class="content" style="width: 100%;max-width: 480px; padding: 30px; background-color: white; border-radius: 10px;">
<div id="content-inner">




	<div class="content-image">
		<img src="<%- datas[0].products_speciality_featured_image -%>" style="max-width:100%;"/>
	</div>
	<br>
	<div class="content-name">
		<span><strong> <%- datas[0].products_speciality_name -%></strong></span>
	</div>
	<br>
	<div class="content-price">
		<span> Giá bán : </span>
		<td class="pro-price"><%= ojs_share_all.show_price_vnd(datas[0].products_speciality_price,0,",",".","đ") %></td>		
	</div>
	



<br>
<hr>
<div class="content-product">
	<%- ojs_share.unCape(datas[0].products_speciality_contents) -%>
</div>

</div>
</div>
<!-- --------------------
end content
--------------------- -->











