

<% if( typeof datas == 'object' && datas && datas.length > 0){ } else{ datas=[] } %>


<% datas = list_notes %>




<div class="note-box">


<% 
if(datas.length > 0){
for(var  x in datas) { %>

	<div class="title-note"> 
		<p><%= datas[x].notes_date_created %> </p>
		<a href="/notes/show/<%= store_id %>/<%= datas[x].notes_ID %>/"><%- datas[x].notes_title -%></a>

		<% 
		if(datas[x].notes_status == '0'){ %>
			<span class="news_note">chưa xem</span>			
		<%	
		}
		%>
		
	</div>

<%
}
}
%>


</div>