<% 
for(var  x in shipping_list) { 
%>
	<% 
	if(shipping_list[x].shipping_speciality_parent_id == 0) { 
	%>
		<option value ="<%= shipping_list[x].shipping_speciality_ID %>"><%= shipping_list[x].shipping_speciality_name %></option>
   <% 
   } //if parrent 0
   %>
<% 
} //for all
%>
