

<% if( typeof option_sale == 'object' && option_sale && option_sale.length > 0){ option_sale = option_sale } else{ option_sale=[] } %>




<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên tùy chọn</th>

		</tr>
	</thead>
	<tbody>



	<% 
	if(option_sale.length > 0){
	for(var  x in option_sale) { %>
   
	   <tr class="">
			<td class="user-name">
				<a href="/options/speciality/product/<%= option_sale[x].options_product_speciality_ID %>/<%= store_id %> ">
				<%- option_sale[x].options_product_speciality_name %>
				(<%- option_sale[x].count_options_product_speciality_link_product_id %>)
				</a>
			</td>
	   </tr>

	<% } %>
	<% } %>

	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tên tùy chọn</th>
		</tr>
	</tfoot>
</table>
	