

<% if( typeof brand_sale == 'object' && brand_sale && brand_sale.length > 0){ brand_sale = brand_sale } else{ brand_sale=[] } %>




<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên thương hiệu</th>

		</tr>
	</thead>
	<tbody>



	<% 
	if(brand_sale.length > 0){
	for(var  x in brand_sale) { %>
   
	   <tr class="">
			<td class="user-name">
				<a href="/brands/manage/product/<%= brand_sale[x].brands_ID %>/<%= store_id %> ">
				<%- brand_sale[x].brands_name %>
				(<%- brand_sale[x].count_products_speciality_ID %>)
				</a>
			</td>
	   </tr>

	<% } %>
	<% } %>

	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tên  thương hiệu</th>
		</tr>
	</tfoot>
</table>
	