


<div class="note-box">

<table class="table-list">

	<thead>
		<tr>
			<th class="user-name">Tiêu đề</th>
			<th class="user-name">Nội dung</th>
			<th>Ngày gửi</th>
			<th>Đã xem</th>		
		</tr>
	</thead>
	<tbody>
<% 
if(datas.length > 0){
for(var  x in datas) { %>
	<tr>
		<td class="user-name"><a href="#"><%- datas[x].notes_title -%></a></td>
		<td class="user-name"><%- datas[x].notes_contents -%></td>
		<td><%= datas[x].notes_date_created %></td>
		<td><% 
		if(datas[x].notes_status == '0'){ %>
			<span class="news_note">chưa xem</span>			
		<%	
		}else{
		%>
			<span class="news_note" style="color:blue;">đã xem</span>	
		<%	
		}
		%>		
		</td>
	</tr>

<%
}
}
%>

</tbody>
</table>


</div>