<!DOCTYPE html>
<html>
<head>
	<title>Chính sách giải quyết khiếu nại</title>
	<link rel='stylesheet' href='../../../../<%= js_css_version %>/stylesheets/style.css' />	
	<link rel='stylesheet' href='../../../../<%= js_css_version %>/stylesheets/ho-tro.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charSet="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="support">

<div id="pagewrap">
<div id="layout" class="pagewidth layout">
<!-- --------------------
page wrap 
--------------------- -->


<div id="header" class="flow">
<a href="https://appdala.com/ho-tro/">Trung tâm hỗ trợ</a> <i class="fas fa-chevron-right"></i> <span>Chính sách giải quyết khiếu nại</span>
</div>

<div id="content" class="content">
	<p>Dala luôn có trách nhiệm tiếp nhận và xử lý khiếu nại của Khách hàng liên quan đến giao dịch tại sàn thương mại điện tử DALA. Khi phát sinh các khiếu nại, tranh chấp, Dala đề cao giải pháp thương lượng, hòa giải giữa các bên nhằm duy trì mối quan hệ, sự tin cậy của Khách hàng vào chất lượng dịch vụ của Dala.vn.</p>
<p>Quy trình khiếu nại thực hiện theo các bước sau:</p>
<p><u>Bước 1</u>: Khách hàng khiếu nại về hàng hóa, dịch vụ của Nhà Bán Hàng mua trên sàn thương mại điện tử Dala.vn thực hiện qua:</p>
<ul>
<li>Gửi thư điện tử đến địa chỉ email: appdala.com@gmail.com.</li>
<li>Gọi điện đến Hotline 0982.900.100</li>
<li>Người mua gửi khiếu nại tại địa chỉ:</li>
</ul>
<p><strong><em>Công ty Cổ Phần Dala</em></strong></p>
<p><strong><em>Địa chỉ: 55 Đường Trương Công Định, Phường 1, Thành phố Đà Lạt, Lâm Đồng, Việt Nam</em></strong></p>
<p><u>Bước 2</u>: Bộ phận Dala Care sẽ tiếp nhận các khiếu nại, liên hệ làm rõ các yêu cầu của Khách hàng trong thời gian sớm nhất có thể và không quá 5 ngày làm việc, kể từ ngày nhận được yêu cầu. Tùy theo tính chất và mức độ của sự việc, Dala sẽ có những biện pháp cụ thể để hỗ trợ khách hàng giải quyết khiếu nại, tranh chấp.</p>
<p><u>Bước 3</u>: Dala có thể yêu cầu Khách hàng và/hoặc Nhà Bán Hàng cung cấp các thông tin, bằng chứng liên quan đến giao dịch, sản phẩm để xác minh, làm rõ vụ việc và có hướng xử lý thích hợp.</p>
<p><u>Bước 4</u>: Trong trường hợp Dala đã nỗ lực giải quyết khiếu nại, tranh chấp nhưng sự việc vượt quá khả năng và thẩm quyền của Dala, Dala sẽ yêu cầu Khách hàng đưa vụ việc ra cơ quan Nhà nước có thẩm quyền giải quyết theo quy định của pháp luật.</p>
<p>Dala tôn trọng và nghiêm túc thực hiện các quy định của pháp luật về bảo vệ quyền lợi của Khách hàng (người tiêu dùng). Vì vậy, đề nghị các Nhà Bán Hàng trên sàn TMĐT Dala.vn cung cấp đầy đủ, chính xác, trung thực và chi tiết các thông tin liên quan đến sản phẩm. Mọi hành vi lừa đảo, gian lận trong kinh doanh đều bị lên án và phải chịu hoàn toàn trách nhiệm trước pháp luật.</p>
<p>Các bên bao gồm Nhà Bán Hàng – người bán, Khách hàng – người mua có vai trò quan trọng và có trách nhiệm trong việc tích cực giải quyết sự việc. Nhà Bán Hàng cần có trách nhiệm cung cấp văn bản, tài liệu, giấy tờ, và các chứng cứ khác để chứng minh, làm rõ thông tin liên quan đến sự việc đang gây mâu thuẫn cho Khách hàng. Khi được yêu cầu, Dala sẽ cung cấp những thông tin liên quan đến Người mua và Người bán nếu được Người mua hoặc Người bán đó (liên quan đến tranh chấp) đồng ý hoặc trong phạm vi được luật pháp cho phép.</p>
<p>Trong trường hợp giao dịch phát sinh khiếu nại, tranh chấp mà được xác định lỗi thuộc về Người bán, Dala sẽ có biện pháp cảnh cáo, khóa tài khoản hoặc chuyển cho cơ quan Nhà nước có thẩm quyền xử lý tùy theo mức độ của sai phạm. Dala sẽ chấm dứt và gỡ bỏ toàn bộ tin bài về sản phẩm của Người bán đó trên Dala.vn đồng thời yêu cầu Người bán bồi thường cho Khách hàng thỏa đáng trên cơ sở thỏa thuận với Khách hàng.</p>
<p>Trường hợp Dala và các bên đã nỗ lực giải quyết qua hình thức thương lượng, thỏa thuận mà vẫn không thể giải quyết được mâu thuẫn phát sinh từ giao dịch giữa Khách hàng và Nhà bán hàng, thì một trong hai bên Khách hàng và Nhà bán hàng sẽ có thể đưa vụ việc đến cơ quan Nhà nước có thẩm quyền giải quyết nhằm đảm bảo lợi ích hợp pháp của các bên.</p>
<p>Bất kỳ tranh cãi, khiếu nại hoặc tranh chấp phát sinh từ hoặc liên quan đến giao dịch tại Website hoặc các Quy định và Điều kiện này đều sẽ được giải quyết bằng hình thức thương lượng, hòa giải, trọng tài và/hoặc Tòa án theo Luật Bảo vệ quyền lợi người tiêu dùng năm 2010, tại Chương 4 về Giải quyết tranh chấp giữa người tiêu dùng và tổ chức, cá nhân kinh doanh hàng hóa, dịch vụ.</p>
<p>&nbsp;</p>
<p><em>Ngày hiệu lực chính sách 01/01/2020.</em></p>
</div>

<div id="footer">
	<p><b>Liên hệ với Dala:</b></p>
	<p>Điện thoại: 0982.900.100</p>
	<p>Email: appdala.com@gmail.com</p>
</div>


<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->

</body>
</html>