<!DOCTYPE html>
<html>
<head>
	<title>Hỗ trợ đổi trả</title>
	<link rel='stylesheet' href='../../../../<%= js_css_version %>/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charSet="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="support">

<div id="pagewrap">
<div id="layout" class="pagewidth layout">
<!-- --------------------
page wrap 
--------------------- -->


<div id="header" class="flow">
<a href="https://appdala.com/ho-tro/">Trung tâm hỗ trợ</a> <i class="fas fa-chevron-right"></i> <span>Đổi trả hàng</span>
</div>

<div id="content" class="content">
	<div class="acc_ul">
		<div class="acc_li">
			<h3>Làm thế nào để đổi trả hàng?</h3>
			<div class="acc_content">
				Hiện tại Dala chỉ áp dụng phương thức thanh toán tiền mặt khi nhận hàng. Nên quý khách cần kiểm tra hàng thật kỹ khi nhận hàng.
				Trường hợp sản phẩm không đạt chất lượng, quý khách yêu cầu đổi trả ngay với nhân viên giao hàng. Sau khi đã kiểm tra và thanh toán, Dala không hỗ trợ đổi trả hàng.
			</div>
		</div>
		<div class="acc_li">
			<h3>Dala chấp nhận đổi trả hàng khi nào?</h3>
			<div class="acc_content">
				Chúng tôi chấp nhận đổi trả hàng khi sản phẩm giao đến bị những vấn đề sau:
				<ul>
					<li>Hết hạn sử dụng.</li>
					<li>Sản phẩm bị biến dạng do rơi vỡ...</li>
					<li>Hộp bị móp méo.</li>
					<li>Các sản phẩm về thực phẩm có dấu hiệu hư, mốc...</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="footer">
	<p><b>Liên hệ với Dala:</b></p>
	<p>Điện thoại: 0982.900.100</p>
	<p>Email: appdala.com@gmail.com</p>
</div>


<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->

</body>
</html>