<!DOCTYPE html>
<html>

<head>
	<title>Hỗ trợ</title>
	<link rel='stylesheet' href='../../../../<%= js_css_version %>/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charSet="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="support">

<div id="pagewrap">
<div id="layout" class="pagewidth layout">
<!-- --------------------
page wrap 
--------------------- -->


<div id="header">
<h1>Trung tâm hỗ trợ</h1>
</div>

<div id="content" class="content">
	<ul class="chu_de">
		<li><a href="https://appdala.com/ho-tro/tai-khoan"><i class="fas fa-user"></i>Tài khoản của tôi</a></li>
		<li><a href="https://appdala.com/ho-tro/don-hang"><i class="fas fa-clipboard-list"></i>Đơn hàng & Thanh toán</a></li>
		<li><a href="https://appdala.com/ho-tro/giao-hang"><i class="fas fa-shipping-fast"></i>Giao hàng & Nhận hàng</a></li>
		<li><a href="https://appdala.com/ho-tro/doi-tra-hang"><i class="fas fa-sync-alt"></i>Đổi trả hàng</a></li>
		<li><a href="https://appdala.com/ho-tro/cua-hang"><i class="fas fa-store"></i>Hỗ trợ nhà bán hàng</a></li>
		<li><a href="https://appdala.com/ho-tro/dieu-khoan-su-dung"><i class="fas fa-book-open"></i>Điều khoản sử dụng</a></li>
		<li><a href="https://appdala.com/ho-tro/chinh-sach-bao-mat-thong-tin"><i class="fas fa-user-lock"></i>Chính sách bảo mật thông tin</a></li>
		<li><a href="https://appdala.com/ho-tro/chinh-sach-giai-quyet-khieu-nai"><i class="far fa-comment-dots"></i>Chính sách giải quyết khiếu nại</a></li>
		<li><a href="https://appdala.com/ho-tro/xoa-tai-khoan"><i class="fas fa-user-slash"></i>Xóa tài khoản</a></li>
	</ul>
</div>

<div id="footer">
	<p><b>Liên hệ với Dala:</b></p>
	<p>Điện thoại: 0982.900.100</p>
	<p>Email: appdala.com@gmail.com</p>
</div>


<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->

</body>
</html>