<!DOCTYPE html>
<html>

<head>
	<title>Hỗ trợ</title>
	<link rel='stylesheet' href='../../../../<%= js_css_version %>/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charSet="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="support">

<div id="pagewrap">
<div id="layout" class="pagewidth layout">
<!-- --------------------
page wrap 
--------------------- -->


<div id="header">
<h1>Trung tâm hỗ trợ</h1>
</div>

<div id="content" class="content">
	<ul class="chu_de">
		<h3> Xóa tài khoản</h3>
	</ul>
</div>

<div id="footer">
	<p><b>Liên hệ với Dala:</b></p>
	<p>Điện thoại: 0982.900.100</p>
	<p>Email: appdala.com@gmail.com</p>
</div>


<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->

</body>
</html>