<!DOCTYPE html>
<html>

<head>
	<title>Hỗ trợ</title>
	<link rel='stylesheet' href='../../../../<%= js_css_version %>/stylesheets/style.css' />	
	<link rel='stylesheet' href='../../../../<%= js_css_version %>/stylesheets/ho-tro.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charSet="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<% include ../masterpage/loader %>




<body class="support">

<div id="pagewrap">
<div id="layout" class="pagewidth layout">
<!-- --------------------
page wrap 
--------------------- -->


<div id="header" class="flow">
	<a href="https://appdala.com/ho-tro/">Trung tâm hỗ trợ</a> <i class="fas fa-chevron-right"></i> <span>Xóa tài khoản</span>
	</div>

<div id="content" class="content">
	<ul class="chu_de">
		<h3>Xóa tài khoản của bạn trên ứng dụng DALA</h3>
		<h5 style="color:red">Mọi dữ liệu như thông tin cá nhân và đơn hàng đều bị xóa và không thể khôi phục.<br>
		Bạn xác nhận xóa tài khoản của mình trên DALA?</h5>
		<div>
			<p>Nhập số điện thoại đã đăng ký</p>
			<input type="text" id="phone_number" value=""/>
		</div>
		<div>
			<p>Lý do bạn muốn xóa tài khoản?</p>
			<select name="ly-do-xo" id="ly-do">
			  <option value="Tôi không sử dụng ứng dụng này nữa">Tôi không sử dụng ứng dụng này nữa.</option>
			  <option value="Tôi đổi qua sử dụng tài khoản khác">Tôi đổi qua sử dụng tài khoản khác.</option>
			  <option value="Khác">Khác</option>
			</select>
		</div>
		<button type="button" id="xoa" style="background: #4a914b;color: white; padding: 10px; border: none;margin-top: 20px;">Xác nhận xóa</button>
		<div style="display: none; background: white; padding: 20px; box-shadow: 0 0 20px rgba(0,0,0,0.5); max-width: 300px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
			Chúng tôi đã nhận được yêu cầu xóa tài khoản của bạn. Nhân viên hỗ trợ sẽ liên hệ lại với bạn trong 24h để xác nhận thông tin.<br>
			Cám ơn bạn đã sử dụng dịch vụ của chúng tôi.
		</div>
	</ul>
</div>

<div id="footer">
	<p><b>Liên hệ với Dala:</b></p>
	<p>Điện thoại: 0982.900.100</p>
	<p>Email: appdala.com@gmail.com</p>
</div>


<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->

<% include ../masterpage/loader-end %>

</body>
</html>





<script>
$(document).ready(function(){
////////////////////////////////////////////////////
	
	//login
	$(document).on('click','#xoa',function(e) {
		let phone = $('#phone_number').val();
		let ly_do = $('#ly-do option:selected').val();


		if(phone == ""){
			ojs_message.message_ok_show("vui lòng nhập số điện thoại");
			return;
		}else{			
			//var filter = /^[0-9]{10,11}+$/;
			
			var filter =/^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
			
			if (filter.test(phone)) {
	
			}else {
				ojs_message.message_ok_show("vui lòng nhập số");
				return
			}			
		}




		var datas = { 
			datas:{ phone: phone, ly_do:ly_do }
		};
		//goi api
		$.ajax({
			type : "POST",	  
			contentType : "application/json",
			url : ojs_loader.host + "/users/xoa-tai-khoan",
			data : JSON.stringify(datas),
			dataType : 'json',
			beforeSend:  function(xhr){
				ojs_loadding.ajax_show_loadding();
			},			  
			error: function (request, status, error) {
				ojs_loader.show_ajax_error(error);
				ojs_loadding.ajax_hide_loadding();
			},
			success : function(result) {
				console.log(result);
				ojs_message.message_ok_show("Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi. Chúng tôi sẽ tiến hành xóa tài khỏan của bạn. thời gian sử lý 72h làm việc");
				ojs_loadding.ajax_hide_loadding();

			}			  
		});
	});
		
/////////////////////////////////////////////////////	
});
</script>	













