<%


//@
//@
//@
//@ check variable
if( typeof title == 'string' && title && title.length > 0){} else{ title="" }
%>

<% include ../masterpage/loader %>
<script src="../../../../<%= js_css_version %>/javascripts/class-notes.js"></script>	


<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>		

<!-- --------------------
content
--------------------- -->
<div id="content" class="content">




	<h1><a href="/admin/">Admin</a><i class="fas fa-chevron-right"></i><%= title %></h1>
	<div class="send-box">
		<div class="pro_content_edit">
			<div class="pro_col01">
				<!-- ------------------
				//Ten thuong hieu
				------------------- -->
				<div class="pro_box ten_sp_box">
					<h3> Tiêu đề </h3>
					<div class="inside">
						<input type="text" class= "" value="" id="notes_title"/>
					</div>
				</div>
			
				<!-- ------------------
				thông tin mô tả
				------------------- -->
				<div class="pro_box value_row">
					<h3> Nội dung </h3>
					<div class="inside">
						<textarea class="noi_dung"  id="noi_dung"  rows="5" cols="100%"></textarea>
					</div>
				</div>
				<!-- ------------------
				//thông tin mô tả
				------------------- -->
			</div>
		</div>

		<div class="pro_content_edit_2">
			<div class="pro_box">
				<h3>Gửi đến</h3>
				<div class="inside">
					<div class="loc_wrap mb15">
						<select id="loc_trang_thai">
							<option  value="0"> Cửa hàng </option>
							<option  value="1"> Khách hàng </option>
						</select>
					</div>
					<div class="check_box_wrap">
						<input type="checkbox" id="check_all"/><label for="check_all">Chọn tất cả</label>
					</div>
					<div id="ajax_wrap">
						<% include ../masterpage/widget-notes-show-store %>
					</div>
				</div>
			</div>
		</div>	

		


		
		
	</div>

	<div class="btn_box">
		<a href="/admin/" class="btn_back">Quay về</a>

		<button id="btn_save" class="btn_save">Gửi</button>
	</div>




<input type="hidden" id="user_id" value="<%= user_id %>"/>


</div>
<!-- --------------------
end content
--------------------- -->





<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	

		//
	//@
	ojs_loader.loadTinyMCE('noi_dung');
	//

	
	
	
	
	$("#loc_trang_thai").change(function() {
		let status_admin = $('#loc_trang_thai').val();
		//console.log(status_admin);
		//return;
		if(status_admin == 0 ){
			ojs_notes.ajax_load_store();
		}else{
			ojs_notes.ajax_load_user();
		}
	});	
	
	
	
	

	
	//tick all
	$(document).on('click','#check_all',function(e) {		
		//alert("hú hú");
		//return;
		var x = $(this).val();
		if($(this).prop( "checked" )){
			$('.ajax_inner').find('.check_box_wrap input').prop( "checked", true );	
		}else{
			$('.ajax_inner').find('.check_box_wrap input').prop( "checked", false );	
		}
	});//end of save ajax
	
	
	
	
	//un tick
	$(document).on('click','.ajax_inner .check_box_wrap',function(e) {		
		$('#check_all').prop( "checked", false );	
	});//end of save ajax	
	
	
	
	
	
	
	
	
	// ajax luu san pham
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		
		var notes_title = $('#notes_title').val();	
		var notes_user_id = $('#user_id').val();
		var notes_contents = tinymce.get("noi_dung").getContent().replace(/&nbsp;/gi, "");
		
		
		var id_arr = [];
		
		$( ".check_box_wrap input" ).each(function( index) {
			//console.log( $( this ).attr("id") );
			if($(this).prop( "checked" )){
				id_arr.push($( this ).attr("id"));
			}
		});			
		
		
		
		if(notes_title == ""){
			ojs_message.message_ok_show("Nhập tiêu đề");
			return;
		}
		
		if(notes_contents == ""){
			ojs_message.message_ok_show("Nhập nội dung");
			return;
		}		
		
		if(id_arr.length <= 0){
			ojs_message.message_ok_show("chưa chọn user nhận");
			return;
		}				
	
		
		
		
		//
		var datas = {
			"datas":{
				notes_title : notes_title,
				notes_user_id : id_arr,
				notes_contents : notes_contents,
			}
		}
		
		
		
		//console.log(datas);		
		//return;
		
		
		
		ojs_notes.ajax_save_all(datas);
		
	});//end of save ajax
	
	
	
	
	
	
	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>



<% include ../masterpage/loader-end %>





























