
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>
<% include ../../masterpage/loader %>

<script src="../../../../../<%= js_css_version %>/javascripts/class-shipping-speciality.js"></script>	

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	



<!-- --------------------
//content
--------------------- -->
<div id="content" class="content">

	<h1><a href="/admin/">Admin</a><i class="fas fa-chevron-right"></i>thêm khu vực shipping</h1>
	
	
	<div class="value_row">
		<span>Tên khu vực</span>
		<input type="text" class= "" value="" id="shipping_speciality_name"/>
	</div>
	
	
	
	
	
	
	<div class="value_row">
		<span>Giá vận chuyển</span>
		<input type="text" class= "" value="" id="shipping_speciality_price"/>
	</div>	
	
	
	<div class="value_row">
		<span>Mã vùng</span>
		<input type="text" class= "" value="" id="shipping_speciality_code"/>
	</div>	
	
	
	
	<div class="value_row">
		<span>Ẩn hiện khu vực</span>
		<div class="select-wrap">
			<select id="shipping_speciality_show">
				<%- ojs_share.show_hide(0) %>
			</select>	
		</div>
	</div>	
	
	
	
	
	<!-- ------------------
	//danh muc chung
	------------------- -->
	<div id="shipping_speciality_parent_id_wrap" class="value_row">
		<span>Khu vực cha</span>
		<div id="shipping_speciality_box">
		<select name="shipping_speciality_parent_id" id="shipping_speciality_parent_id"  >
			<option value="">Chọn khu vực cha</option>
			<% include ../../masterpage/widget-shipping-check-box %>
		</select>
		</div>
	</div>	
	<!-- ------------------
	//danh muc chung
	------------------- -->
<div class="btn_box">
	<a href="/shipping/speciality/" class="btn_back">Quay về</a>
	<button id="btn_save" class="btn_save">Save</button>
</div>	
	


</div>
<!-- --------------------
//end content
--------------------- -->


<input type="hidden" id="user_id" value="<%= user_id %>"/>



<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->



<script>
$(document).ready(function($){
/////////////////////////////////////////////////////

	// ajax luu san pham
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		
		let shipping_speciality_name = $('#shipping_speciality_name').val();	
		//@
		let shipping_speciality_price = $('#shipping_speciality_price').val();
		let shipping_speciality_code = $('#shipping_speciality_code').val();
		
		
		//@
		let shipping_speciality_show = $('#shipping_speciality_show  option:selected').val();
		let shipping_speciality_parent_id = $('#shipping_speciality_parent_id  option:selected').val();
		//@
		if(shipping_speciality_parent_id == ""){
			ojs_message.message_ok_show("chọn khu vực cha");
			return;
		}		
		//
		let datas = {
			"datas":{
				shipping_speciality_name : shipping_speciality_name,
				shipping_speciality_price :  shipping_speciality_price,
				shipping_speciality_show : shipping_speciality_show,
				shipping_speciality_parent_id : shipping_speciality_parent_id,
				shipping_speciality_code: shipping_speciality_code
			}
		}
		//console.log(datas,shipping_id);		
		//return;
		
		ojs_shipping_speciality.ajax_save(datas);	
		
	});//end of save ajax

///////////////////////////////////////////////////////
});//end of document
</script>






<% include ../../masterpage/loader-end %>















