

<% if( typeof category_list == 'object' && category_list && category_list.length > 0){ category_list = category_list } else{ category_list=[] } %>




<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên danh mục</th>

		</tr>
	</thead>
	<tbody>



	<% 
	if(category_list.length > 0){
	for(var  x in category_list) { %>
		<% 
		if(category_list[x].category_general_speciality_category_parent_id == 0) { 
		%>	   
		   <tr class="">
				<td class="user-name">
					<%- category_list[x].category_general_speciality_name %>
				</td>
		   </tr>
		<% 
		}
		%>		




		<!-- ----------
		// vong 2
		------------ -->
	   <% 
	   for(var  y in category_list) { 
	   %>
			<% 
			if(
			category_list[x].category_general_speciality_ID 
			== category_list[y].category_general_speciality_category_parent_id) { 
			%>			
			   <tr class="">
					<td class="user-name" style="padding-left: 30px;"> - 
						<%- category_list[y].category_general_speciality_name %>
					</td>
			   </tr>   
			   
			   
			   
				<!-- ----------
				// vong 3
				------------ -->
			   <% 
			   for(var  z in category_list) { 
			   %>
					<% 
					if(
					category_list[y].category_general_speciality_ID 
					== category_list[z].category_general_speciality_category_parent_id) { 
					%>			
					   <tr class="">
							<td class="user-name" style="padding-left: 60px;"> - 
								<%- category_list[z].category_general_speciality_name %>
							</td>
					   </tr>   
				   <% 
				   } 
				   %>	   
				<%
				} 
				%>

				<!-- ----------
				// vong 3
				------------ -->				   
			   
			   
		   <% 
		   } 
		   %>	  
		<%
		} 
		%>

		<!-- ----------
		// vong 2
		------------ -->


		   
	<% } %>
	<% } %>

	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tên danh mục</th>
		</tr>
	</tfoot>
</table>
	