

<% if( typeof option_list == 'object' && option_list && option_list.length > 0){ option_list = option_list } else{ option_list=[] } %>




<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên tùy chọn</th>

		</tr>
	</thead>
	<tbody>



	<% 
	if(option_list.length > 0){
	for(var  x in option_list) { %>
		<% 
		if(option_list[x].options_product_speciality_parent_id == 0) { 
		%>	   
		   <tr class="">
				<td class="user-name">
					<%- option_list[x].options_product_speciality_name %>
				</td>
		   </tr>
		<% 
		}
		%>		




		<!-- ----------
		// vong 2
		------------ -->
	   <% 
	   for(var  y in option_list) { 
	   %>
			<% 
			if(
			option_list[x].options_product_speciality_ID 
			== option_list[y].options_product_speciality_parent_id) { 
			%>			
			   <tr class="">
					<td class="user-name" style="padding-left: 30px;"> - 
						<%- option_list[y].options_product_speciality_name %>
					</td>
			   </tr>   
			   
			   
			   
				<!-- ----------
				// vong 3
				------------ -->
			   <% 
			   for(var  z in option_list) { 
			   %>
					<% 
					if(
					option_list[y].options_product_speciality_ID 
					== option_list[z].options_product_speciality_parent_id) { 
					%>			
					   <tr class="">
							<td class="user-name" style="padding-left: 60px;"> - 
								<%- option_list[z].options_product_speciality_name %>
							</td>
					   </tr>   
				   <% 
				   } 
				   %>	   
				<%
				} 
				%>

				<!-- ----------
				// vong 3
				------------ -->				   
			   
			   
		   <% 
		   } 
		   %>	  
		<%
		} 
		%>

		<!-- ----------
		// vong 2
		------------ -->


		   
	<% } %>
	<% } %>

	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tên tùy chọn</th>
		</tr>
	</tfoot>
</table>
	