<!DOCTYPE html>
<html>
<head>
	<title>Hỗ trợ nhà bán hàng</title>
	<link rel='stylesheet' href='../../../../<%= js_css_version %>/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charSet="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="support">

<div id="pagewrap">
<div id="layout" class="pagewidth layout">
<!-- --------------------
page wrap 
--------------------- -->


<div id="header" class="flow">
<a href="https://appdala.com/ho-tro/">Trung tâm hỗ trợ</a> <i class="fas fa-chevron-right"></i> <span>Cửa hàng/nhà bán hàng.</span>
</div>

<div id="content" class="content">
	<div class="acc_ul">
		<div class="acc_li">
			<h3>Làm thế nào để đăng ký bán hàng trên app Dala?</h3>
			<div class="acc_content">
				- Quý khách vào link sau để đăng ký tài khoản: <a href="https://appdala.com/register">https://appdala.com/register</a><br>
				- Chọn loại tài khoản là "Doanh Nghiệp".<br>
				- Sau khi đăng ký xong, Dala sẽ liên hệ lại qua điện thoại hoặc email để trao đổi và xem xét.<br>
				- Nếu quý khách đủ điều kiện chúng tôi sẽ mở cửa hàng trên app DALA cho quý khách.<br>
			</div>
		</div>
		<div class="acc_li">
			<h3>Làm thế nào để đăng sản phẩm, quản lý đơn hàng của cửa hàng?</h3>
			<div class="acc_content">
				- Quý khách sử dụng máy tính vào link sau: <a href="https://appdala.com/login">https://appdala.com/login</a><br>
				- Đăng nhập tài khoản doanh nghiệp của mình để quản lý cửa hàng, đơn hàng, sản phẩm.(Có hướng dẫn bên trong).
			</div>
		</div>
	</div>
</div>

<div id="footer">
	<p><b>Liên hệ với Dala:</b></p>
	<p>Điện thoại: 0982.900.100</p>
	<p>Email: appdala.com@gmail.com</p>
</div>


<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->

</body>
</html>