
<%
ojs_share = {
	//
	//thay cac ky tu  thoat khi insert database
	unCape: function(datas){
		let res = datas.replace(/\\n/g, '');
		let resResult = res.replace(/\\/g, '');
		return  resResult;
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_status_product: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Chưa duyệt</option>' + 
			'<option value="1">Đã duyệt</option>'
		}else{
			result = "" + 
			'<option value="0">Chưa duyệt</option>' + 
			'<option value="1" selected>Đã duyệt</option>'
		}		
		//	
		return result;	
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_table_status_product: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Chưa duyệt</span>'
		}else{
			result = "" + 
			'<span class="push"><i class="fas fa-check-circle"></i></span>'
		}		
		//	
		return result;	
	},
	//@
	//@
	//@
	//@ hiển thị trạng thái duyệt
	//dùng cho tất cả 
	//@
	show_status_select_share_all_two: function(status){
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Chờ duyệt</option>' + 
			'<option value="1">Đã duyệt</option>'
		}else{
			result = "" + 
			'<option value="0">Chưa duyệt</option>' + 
			'<option value="1" selected>Đã duyệt</option>'
		}		
		//	
		return result;	
	},	
	//@
	//@
	//@
	//@ hiển thị trạng thái duyệt
	//dùng cho tất cả 
	//@
	show_status_table_share_all: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Chờ duyệt</span>'
		}else if(status == 1){
			result = "" + 
			'<i class="fas fa-check-circle green" title="Đã duyệt"></i>'
		}else if(status == 2){
			result = "" + 
			'<span class="demo push_edit">Chỉnh sửa chờ duyệt</span>'
		}else if(status == 3){
			result = "" + 
			'<i class="fas fa-times-circle" title="Từ chối"></i>'
		}	
		//	
		return result;	
	},
	
	//@
	//@
	//@
	//@ hiển thị trạng thái duyệt
	//dùng cho tất cả 
	//@
	show_status_select_share_all: function(status){
		let t = "";
		let s = " selected ";
		let result = "";
		
		
		
		let arr = [
			['<option value="0"',' >Chờ duyệt</option>'],
			['<option value="1"',' >Đã duyệt</option>'],
			['<option value="2"',' >Chỉnh sửa chờ duyệt</option>'],
			['<option value="3"',' >Từ chối</option>']
			
		]
		var i;
		
		for(i = 0; i < arr.length; i ++){
			if(status == i){
				result = result + arr[i][0] + " selected " + arr[i][1];
			}else{
				result = result + arr[i][0] + "" + arr[i][1];
			}
		}
		//	
		return result;	
	},	
	
	
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_coupon_formula_table: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Giảm giá theo phần trăm đơn hàng</span>'
		}else if(status == 1 ){
			result = "" + 
			'<span class="demo">Giảm giá tiền cố định theo đơn hàng</span>'
		}		
		//	
		return result;	
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_coupon_multi_table: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Không</span>'
		}else if(status == 1 ){
			result = "" + 
			'<span class="demo">Được</span>'
		}		
		//	
		return result;	
	},
	
	
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_coupon_condition_table: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Đơn hàng tối thiểu lớn hơn</span>'
		}else if(status == 1 ){
			result = "" + 
			'<span class="demo">Số lượng sản phẩm lớn hơn</span>'
		}		
		//	
		return result;	
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_coupon_type_table	: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Loại bình thường</span>'
		}else if(status == 1 ){
			result = "" + 
			'<span class="demo">loại multiline code</span>'
		}		
		//	
		return result;	
	},	
	
	
	
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_table_unit_discount: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="percent"> % </span>'
		}else{
			result = "" + 
			'<span class="push"> đ </span>'
		}		
		//	
		return result;	
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_hide: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>hiện</option>' + 
			'<option value="1">Ẩn</option>'
		}else{
			result = "" + 
			'<option value="0">hiện</option>' + 
			'<option value="1" selected>ẩn</option>'
		}		
		//	
		return result;	
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_hide_text: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "hiện";
		}else{
			result = "ẩn";
		}		
		//	
		return result;	
	},
	//@ hiển thị trạng thái sản phẩm (cửa hàng)
	show_product_type: function(type){
		let type_arr = ["normal","variation"];
		//
		let result = "";
		//
		if(type == 0 || type == null){
			result = "" +
			'<option value="0"  selected>normal</option>' + 
			'<option value="1">variation</option>'
		}else{
			for(let i = 0; i < type_arr.length; i ++){
				if( type == i){
					result = result + '<option value="' + i + '" selected>' + type_arr[i] +'</option>';
				}else{
					result = result + '<option value="' + i + '">' + type_arr[i] +'</option>';
				}
			}
		}		
		//	
		return result;	
	},
	//@
	//@
	//@@@@@@@
	//@@@@@@@
	//@
	//@
	show_unit_discount: function(type){
		let type_arr = [" % (phần trăm)","Tiền cố định"];
		//
		let result = "";
		//
		if(type == 0 || type == null){
			result = "" +
			'<option value="0"  selected> % (phần trăm) </option>' + 
			'<option value="1">Tiền cố định</option>'
		}else{
			for(let i = 0; i < type_arr.length; i ++){
				if( type == i){
					result = result + '<option value="' + i + '" selected>' + type_arr[i] +'</option>';
				}else{
					result = result + '<option value="' + i + '">' + type_arr[i] +'</option>';
				}
			}
		}		
		//	
		return result;	
	},	
	//@
	//@
	//@@@@@@@
	//@@@@@@@
	//@
	//@
	show_category_products: function(product_id,datas_link){
		//
		let result = "";
		
		/*
		for(let i = 0; i < datas_link.length; i ++){
			result =  result + " | " + product_id;
		}		
		*/

		//
		for(let i = 0; i < datas_link.length; i ++){
			if( product_id == datas_link[i].category_general_speciality_link_product_id ){
				if(result == "" ){
					result =  datas_link[i].category_general_speciality_name;
				}else{
					result = result + " , " + datas_link[i].category_general_speciality_name;
				}
			}
		}

		//	
		return result;	
	},
	//@
	//@ hiển thị trạng thái don hàng
	show_status_orders_complate: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Chưa hoàn thành</span>'
		}else{
			result = "" + 
			'<span class="push">Đã hoàn thành</span>'
		}		
		//	
		return result;	
	},
	//@
	//@ hiển thị trạng thái thanh toán
	show_status_orders_checkout: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<span class="demo">Chưa thanh toán</span>'
		}else{
			result = "" + 
			'<span class="push">Đã thanh toán</span>'
		}		
		//	
		return result;	
	},
	//@
	//@ hiển thị trạng thái thanh toán
	show_status_checkout: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Chưa thanh toan</option>' + 
			'<option value="1">Đã thanh toán</option>'
		}else{
			result = "" + 
			'<option value="0">Chưa thanh toán</option>' + 
			'<option value="1" selected>Đã thanh toán</option>'
		}		
		//	
		return result;	
	},
	//@
	//@ hiển thị trạng thái thanh toán
	show_coupon_type_select: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Loại thường</option>' + 
			'<option value="1">Loại multiline code</option>'
		}else{
			result = "" + 
			'<option value="0">selected>Loại thường</option>' + 
			'<option value="1" selected>Loại multiline code</option>'
		}		
		//	
		return result;	
	},
	//@
	//@ hiển thị trạng thái thanh toán
	show_coupon_formula_select: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Giảm giá theo phần trăm đơn hàng</option>' + 
			'<option value="1">Giảm giá tiền cố định theo đơn hàng</option>'
		}else{
			result = "" + 
			'<option value="0">Giảm giá theo phần trăm đơn hàng</option>' + 
			'<option value="1" selected>Giảm giá tiền cố định theo đơn hàng</option>'
		}		
		//	
		return result;	
	},
	//@
	//@ hiển thị trạng thái thanh toán
	show_coupon_multi_select: function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Không</option>' + 
			'<option value="1">Có</option>'
		}else{
			result = "" + 
			'<option value="0">Không</option>' + 
			'<option value="1" selected>Có</option>'
		}		
		//	
		return result;	
	},

	//@
	//@ hiển thị trạng thái thanh toán
	show_coupon_condition_select : function(status){
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Tổng đơn hàng tối thiểu </option>' + 
			'<option value="1">Số lượng đơn hàng tối thiểu</option>'
		}else{
			result = "" + 
			'<option value="0">Tổng đơn hàng tối thiểu</option>' + 
			'<option value="1" selected>Số lượng đơn hàng tối thiểu</option>'
		}		
		//	
		return result;	
	},
	
	
	
	//@
	//@ hiển thị trạng thái thanh toán
	show_status_orders: function(status){
		//
		//
		let result = "";
		//
		if(status == 0 || status == null){
			result = "" +
			'<option value="0"  selected>Chưa hoàn thành</option>' + 
			'<option value="1">Đã hoàn thành</option>'
		}else{
			result = "" + 
			'<option value="0">Chưa hoàn thành</option>' + 
			'<option value="1" selected>Đã hoàn thành</option>'
		}		
		//	
		return result;	
	},
	//@
	//@ tinh toán discount
	show_order_caution_discount_line: function(total,discount,unit,qty){
		//
		//
		let result;
		//
		if(unit == 0){
			result = total * discount / 100;
		}else{
			result = discount * qty;
		}
		//	
		return result;	
	},
	//@
	//@ sum discount
	show_order_sum_discount_line: function(total,discount,unit,qty){
		//
		//
		let result;
		//
		if(unit == 0){
			var dis = total * discount / 100;
			result = total - dis;
		}else{
			result = total - (discount * qty) ;
		}
		//	
		return result;	
	},
	//function show money 
	//su dung: gia_shipping =  show_price_vnd(gia_shipping_check,0,",",".","đ")
	show_price_vnd:function(ojs,c, d, t,dv){
		var n = ojs, 
		c = isNaN(c = Math.abs(c)) ? 2 : c, 
		d = d == undefined ? "." : d, 
		t = t == undefined ? "," : t, 
		s = n < 0 ? "-" : "", 
		i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
		j = (j = i.length) > 3 ? j % 3 : 0;
	   var kq =  s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
	   return kq + " đ";
	},
	//function show money 
	//su dung: gia_shipping =  show_price_format(gia_shipping_check,0,",",".","đ")
	show_price_format:function(ojs,c, d, t,dv){
		var n = ojs, 
		c = isNaN(c = Math.abs(c)) ? 2 : c, 
		d = d == undefined ? "." : d, 
		t = t == undefined ? "," : t, 
		s = n < 0 ? "-" : "", 
		i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
		j = (j = i.length) > 3 ? j % 3 : 0;
	   var kq =  s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
	   return kq + dv;
	},	
	
	
	//function chuyen text thanh so 
	//su dung: gia_shipping =  string_to_int(ojs);
	string_to_int:function(ojs){
		var n = ojs;
		var n_split = n.split(",");
		var i = 0;
		var ntext = "";
		
		for(i=0; i < n_split.length ; i ++){
			ntext = ntext + n_split[i];
		}
		return parseInt(ntext);
	},
	
	//@
	//@ show local province
	show_local_province: function(datas,taget){
		//@
		//@
		let data_return = "";
		//@
		
		let i;
		let txt_for = '<option value="0"></option>';
		for(i = 0; i < datas.length ; i ++ ){
			if(datas[i].Name == taget){
				txt_for = txt_for + '<option selected  value="' +  datas[i].Name + '">' + datas[i].Name + '</option>';
			}else{
				txt_for = txt_for + '<option value="' +  datas[i].Name + '">' + datas[i].Name + '</option>';
			}
			
		}
		data_return = data_return + txt_for;		
		
		//@
		//@	
		return data_return;	
	},
	//@	
	//@
	//@ show local
	show_local_district: function(datas,parent_taget,taget){
		//@
		//@
		let data_return = "";
		//return '<option value="asdasd">dasdas</option>';
		//@
		let i;
		let txt_for = '<option value="0"></option>';
		for(i = 0; i < datas.length ; i ++ ){
			//@
			//perent taget
			if(datas[i].Name == parent_taget){
				//@
				//loop districts
				for(let ii = 0; ii < datas[i].Districts.length ; ii ++ ){
					if(datas[i].Districts[ii].Name == taget){
						txt_for = txt_for + '<option selected  value="' +  datas[i].Districts[ii].Name + '">' + datas[i].Districts[ii].Name + '</option>';
					}else{
						txt_for = txt_for + '<option value="' +  datas[i].Districts[ii].Name + '">' + datas[i].Districts[ii].Name + '</option>';
					}
				}
			}//end of parent taget
		}
		data_return = data_return + txt_for;		
		//@
		//@	
		return data_return;	
	},
	//@	
	//@
	//@ show local
	show_local_wards: function(datas,parent_taget,taget){
		//@
		//@
		let data_return = "";
		//return '<option value="asdasd">dasdas</option>';
		//@
		let i;
		let txt_for = '<option value="0"></option>';
		for(i = 0; i < datas.length ; i ++ ){
			//@
			//@
			for(let ii = 0; ii < datas[i].Districts.length ; ii ++ ){
				//@
				//@
				//parent taget
				if(datas[i].Districts[ii].Name == parent_taget){
					for(let iii = 0; iii < datas[i].Districts[ii].Wards.length ; iii ++ ){
						if(datas[i].Districts[ii].Wards[iii].Name == taget){
							txt_for = txt_for + '<option selected  value="' +  datas[i].Districts[ii].Wards[iii].Name  + '">' + datas[i].Districts[ii].Wards[iii].Name + '</option>';
						}else{
							txt_for = txt_for + '<option value="' +  datas[i].Districts[ii].Wards[iii].Name + '">' + datas[i].Districts[ii].Wards[iii].Name + '</option>';
						}
					}	
				}
			}
			//@
			//@
		}
		data_return = data_return + txt_for;		
		//@
		//@	
		return data_return;	
	},
	//@		
}
%>
























































