
<% 
if( typeof title == 'string' && title && title.length > 0){} else{ title="" } 
if( typeof js_css_version == 'string' && js_css_version  && js_css_version.length > 0){} else{ js_css_version="" } 
%>


<% include ../masterpage/loader %>

<script src="../../../../<%= js_css_version %>/javascripts/class-admins.js"></script>	


<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>

<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><%= title %></h1>
	<br>
	<br>
	<hr>
	<br>
<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	
	
	
	
	
	<%- ojs_share.show_news_admin_menu_home_page(news_admin_menu); -%>
	
	
	
	
	
</div>
<!-- --------------------
end content
--------------------- -->





<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->



<script>
	$(document).ready(function(){
	//////////////////////////////////////////////
		
		
	/////////////////////////////////////////////////		
	});
</script>	







<% include ../masterpage/loader-end %>