<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>
<% if( typeof js_css_version == 'string' && js_css_version){ } else{ js_css_version="" } %>





<% include ../masterpage/loader %>

<script src="../../../../<%= js_css_version %>/javascripts/class-users.js"></script>	


<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	

<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><a href="/admin/">Admin</a><i class="fas fa-chevron-right"></i>Danh sách tài khoản</h1>
	
	<div class="sap_xep_loc">
		<div class="sap_xep_wrap">
			<a href="/users/add/" class="btn_green">Thêm tài khoản</a>
		</div>
		<div class="loc_wrap">
			<select id="loc_trang_thai">
				<option id="all" value="[0,1,2,3]">Tất cả phân quyền</option>
				<option id="checking" value="[0]">Defaul</option>
				<option id="edit" value="[2]">Supper job</option>
				<option id="refuse" value="[3]">Shiper</option>
				<option id="checked" value="[1]">Customer</option>
				<option id="checked" value="[1]">Business</option>
				<option id="checked" value="[1]">Admin</option>
			</select>
		</div>
	</div>	
	
	
	<% 
	include ../masterpage/widget-users-show-tables 
	%>

	



<input type="hidden" id="user_id" value="<%= user_id %>"/>




</div>
<!-- --------------------
end content
--------------------- -->


















<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->



<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	//@
	//xoa
	$(document).on('click','.submitdelete',function(e) {	
		//@
		e.preventDefault();		
		let user_id = $(this).attr("data_user_id");
		//
		//@
		let x = "xác nhận xoá";		
		let y = "delete_users";//function name in callback 
		let z = ' { "user_id" : "' + user_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});			
	//		
	//	
	//
///////////////////////////////////////////////////////
});//end of document
</script>





<% include ../masterpage/loader-end %>









