<%-  include ("../masterpage/loader") %>
<script src="../../../<%= js_css_version %>/javascripts/ojs-share-date.js"></script>

<!-- --------------------
content
--------------------- -->
<div id="content" class="content bo-cong-thuong-wrap">
	<div class="bo-cong-thuong-box">
			<div class="bo-cong-thuong-logo">
			<img src="/images/dala-logo.jpg">
		</div>		
		<h1 style="text-align:center;">Báo cáo Bộ Công thương</h1>		
		<div class="bao-cao-bo-cong-thuong">
		
		
		<!-- --------------------
		//content-box
		--------------------- -->
		<div class="bct-print-box">
		<div class="title-box">
			<div class="title-box-1">
				<p>CÔNG TY CỔ PHẦN THƯƠNG MẠI</p>
				<p>DALA.VN</p>
			</div>

			<div class="title-box-1">
				<p>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
				<p>Độc lập - Tự do - Hạnh phúc</p>
				<p>Lâm Đồng,  ngày <span id="ngay"></span>     tháng  <span id="thang"></span>   năm  <span id="nam"></span> </p>
			</div>
		</div>
		
		
		
		<div class="content-box">

			<div class="content-box-1" style="padding:30px 0px;">
				<p style="fonot-size:20px;font-weight:bold;">BÁO CÁO TÌNH HÌNH HOẠT ĐỘNG CỦA WEBSITE, ỨNG DỤNG </p>
				<div class="date-box">
				<div class="custom_date">Từ ngày: <input type="text" id="datepicker" placeholder="Chọn ngày"></div>
				<div class="custom_date">đến ngày <input type="text" id="datepicker2" placeholder="Chọn ngày" ></div>				
				</div>
				
			</div>
			
			<div id="ajax-load-bo-cong-thuong">

			</div>
						
				
			<div class="content-box-3">
				<div class="box-1">
					<p style="font-size:18;font-weight:bold;">Nơi nhận</p>
					<p>Như trên</p>
					<br>
					<br>
					<br>
					<br>					
					
				</div>		
			
				<div class="box-2">
					<p style="font-size:18;font-weight:bold;">GIÁM ĐỐC</p>
					<br>
					<br>
					<br>
					<br>
					<p>Nguyễn Thị Ngọc Quỳnh</p>
				</div>
			</div>				
				
				

		</div>		
		</div><!-- //print-box -->	
		<!-- --------------------
		//content-box
		--------------------- -->			
			
		</div>				
	</div>	
</div>
<!-- --------------------
end content
--------------------- -->



</div><!-- //content_wrap -->	
</div><!-- //layout -->	
</div><!-- //pagewrap -->	
<%- include ("../masterpage/loader-end") %>




<style>


.bo-cong-thuong-logo {
    display: flex;
    align-items: center;
    justify-content: center;
	padding: 30px;
}

.bo-cong-thuong-logo img {
    max-width: 300px;
}

#content .bo-cong-thuong-box h1 {
    font-size: 26px;
    font-weight: bold;
    color: #096e35;
    text-align: center;
    width: 100%;
}

.bao-cao-bo-cong-thuong {
    padding: 0px 3%;
    max-width: 1200px;
    margin: 0px auto;	
}

.title-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

p {
    margin: 0;
}

#content {
    font-size: 16px;
    line-height: 1.7;
}

.content-box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.content-box-2 {
    padding: 0px 5%;
}

.content-box-3 {
	display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    padding-bottom: 100px;
}


.date-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.date-box input{
	border: 1px dotted #ccc ;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
}

.bct-print-box {
    background-color: white;
    padding: 50px 5%;
    border: 1px solid #ccc;
    margin: 30px 2%;
}


</style>














<script>
	$(document).ready(function(){
/////////////////////////////////////////////////////////////////////		
		
		$( "#datepicker" ).datepicker({
				dateFormat: "yy-mm-dd",
				timeFormat:  "hh:mm:ss",
				language: 'vi'
			}
		);
		$( "#datepicker2" ).datepicker({
				dateFormat: "yy-mm-dd",
				timeFormat:  "hh:mm:ss",
				language: 'vi'
			}
		);	




	//@
	//@
	//@
	//@	 set lam dong ngay thang nam
	$(document).on('change','#datepicker2',function(e) {	
        var date = $( "#datepicker2" ).datepicker('getDate'),
            day  = date.getDate(); 
            month = date.getMonth() + 1;              
            year =  date.getFullYear();
		
		$( "#ngay" ).html(day);
		$( "#thang" ).html(month);
		$( "#nam" ).html(year);
		
		
	});			






	//@
	//@
	//@
	//@	 chay bao cao	
	$(document).on('change','#datepicker,#datepicker2',function(e) {	
	
		//alert('asda');
		//return;
	
		var date_01 = $( "#datepicker" ).datepicker( "getDate" );
		var date_02 = $( "#datepicker2" ).datepicker( "getDate" );

		
		if(date_01 == null || date_02 == null){
			return;
		}
	
	
		if(date_01 > date_02){
			ojs_message.message_ok_show("Ngày chọn không hợp lệ");
			return;
		}	
	
		//@
		//@
		//@
		e.preventDefault();		
		var date_01 = $( "#datepicker" ).datepicker( "getDate" );
		var date_01_ok = $.datepicker.formatDate("yy-mm-dd", date_01);
		date_01_ok = date_01_ok + " 00:00:00";
		
		
		
		//@
		//@
		var date_02 = $( "#datepicker2" ).datepicker( "getDate" );
		var date_02_ok = $.datepicker.formatDate("yy-mm-dd", date_02);
		date_02_ok = date_02_ok + " 23:59:59";




		//@
		//@
		//@
		var datas = {
			"datas":{
				date_star : date_01_ok,
				date_end : date_02_ok
			}
		}	

		
		//console.log(datas);
		//return;
		
		

		
		//@
		//@
		//@ load

		 $.ajax({
		  type : "POST",	  
		  contentType : "application/json",
		  url : ojs_loader.host + "/bo-cong-thuong/ajax-load" ,
		  data : JSON.stringify(datas),
		  beforeSend:  function(xhr){
			ojs_loadding.ajax_show_loadding();
		  },			  
		  error: function (request, status, error) {
				ojs_share_all.show_ajax_error(error);
				ojs_loadding.ajax_hide_loadding();
		  },
		  success : function(result) {
				//console.log(result);
				//ojs_loadding.ajax_hide_loadding();
				//return;
				
				//ojs_message.message_ok_show("Đã tạo báo cáo hoàn tất");
				
				$('#ajax-load-bo-cong-thuong').html(result);
				ojs_loadding.ajax_hide_loadding();
				
		  }//end of success			  
		});	//end of ajax










		
		//
		//@
		//@
	});			
	//		














		
////////////////////////////////////////////////////////////////////////		
	});
</script>	










