<%-  include ("../masterpage/loader") %>


<!-- --------------------
content
--------------------- -->
<div id="content" class="content bo-cong-thuong-wrap">
	<div class="bo-cong-thuong-box">
	
		<div class="bo-cong-thuong-logo">
			<img src="/images/dala-logo.jpg">
		</div>
		
		<h1 style="text-align:center;">Báo cáo bộ công thương</h1>
		
		<div class="bao-cao-bo-cong-thuong">
		<table class="table-list">
			<thead>
				<tr>
					<th class="user-name">Tổng số cửa hàng hệ thống</th>
					<th>Số lượng cửa hàng mới</th>
					<th>Tổng số sản phẩm</th>		
					<th class="user-name">Số sản phẩm đăng bán mới</th>
					<th>Tổng số đơn hàng</th>
					<th>Tổng số đơn hàng thành công </th>						
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="user-name" style="text-align:center;">5</td>
					<td class="user-name" style="text-align:center;">5</td>
					<td class="user-name" style="text-align:center;">505</td>
					<td class="user-name" style="text-align:center;">505</td>
					<td class="user-name" style="text-align:center;">0</td>
					<td class="user-name" style="text-align:center;">0</td>
				</tr>
			
			
			
			</tbody>
			<tfoot>
				<tr>
					<th class="user-name">Tổng số trên hệ thống</th>
					<th>Số lượng người bán mới</th>
					<th>Tổng số sản phẩm</th>		
					<th class="user-name">Số sản phẩm đăng bán mới</th>
					<th>Tổng số đơn hàng</th>
					<th>Tổng số đơn hàng thành công </th>				
				</tr>
			</tfoot>
		</table>			
			
			
			
			
		</div>		
		
	</div>	
</div>
<!-- --------------------
end content
--------------------- -->


</div><!-- //content_wrap -->	
</div><!-- //layout -->	
</div><!-- //pagewrap -->	
<%- include ("../masterpage/loader-end") %>

<script>
	$(document).ready(function(){
	

		
		
	});
</script>	










