<%-  include ("../masterpage/loader") %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/login.css' />





<!-- --------------------
content
--------------------- -->
<div id="content" class="content login-wrap">
	<div class="login-box">
		<div class="logo">
		<img src="/images/dala-logo.jpg">
		</div>
	  <h1>Đăng nhập</h1>
	  <div class="textbox">
		<i class="fas fa-user"></i>
		<input type="text" id="users_name" placeholder="Tài khoản">
	  </div>
		
	  <div class="textbox">
		<i class="fas fa-lock"></i>
		<input type="password" id="users_password" placeholder="Mật khẩu">
	  </div>

	  <input type="button" id="dang_nhap" class="btn" value="Đăng nhập">
	  <div class="lost-pass"><a href="/lost-pass/">Quên mật khẩu ? </a></div>
	  <!-- <div class="lost-pass"><p id="test" > test demo </p></div> -->
	  <!-- <div class="dangky-link">Bạn chưa có tài khoản? <a href="/register">Đăng ký ngay</a></div> -->
	  <!-- <div id="test-content">0</div> -->
	</div>
</div>
<!-- --------------------
end content
--------------------- -->


</div><!-- //content_wrap -->	
</div><!-- //layout -->	
</div><!-- //pagewrap -->	
<%- include ("../masterpage/loader-end") %>

<script>
	$(document).ready(function(){
	

		//end of test
		//login
		$(document).on('click','#dang_nhap',function(e) {
			let users_name = $('#users_name').val();
			let users_password = $('#users_password').val();
			//check trong du lieu
			if(users_name == "" || users_password == ""){
				var x = "Vui lòng nhập dữ liệu";
				ojs_message.message_ok_show(x);
				return;
			}
			//tao data
			var datas = { 
				datas:{ users_login_name: users_name, users_password:users_password }
			};
			
			
			//console.log(datas);
			//return;
			
			//goi api
			$.ajax({
				type : "POST",	  
				contentType : "application/json",
				url : ojs_loader.host + "/login",
				data : JSON.stringify(datas),
				dataType : 'json',
				beforeSend:  function(xhr){
					ojs_loadding.ajax_show_loadding();
				},			  
				error: function (request, status, error) {
					ojs_share_all.show_ajax_error(error);
					ojs_loadding.ajax_hide_loadding();
				},
				success : function(result) {
					//console.log(result);
					//ojs_loadding.ajax_hide_loadding();
					//return;
					
					//ojs_loader.evn = "dev";
					if(ojs_loader.evn == "dev"){
						ojs_message.message_ok_show("Lấy dữ liệu thành công. xem datas ở console");
						console.log(result);
					}else{
						if(result.error.length > 0){
							ojs_message.message_ok_show(result.message);
							//console.log("1");
						}else{
							if( 
							result.datas.user_role == "default"  
							|| result.datas.user_role == "supper-job"
							){
								ojs_message.message_ok_show("user GUEST, Shipping  hoặc user supper job  không thể login trên web");
							}else{
								ojs_share_all.header_manage(result.datas.user_role,result.datas.users_ID);
							}
						}
					}	
				
					ojs_loadding.ajax_hide_loadding();
				}			  
			});
		});
		//@
		//@
	});
</script>	










