
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>
<% include ../../masterpage/loader %>

<script src="../../../javascripts/class-news-general.js"></script>	

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>



<!-- --------------------
content
--------------------- -->
<div id="content" class="content">
	<h1><%= title %></h1>
	<div class="pro_content_edit">
		<div class="pro_col01">
			<div class="pro_box ten_sp_box">
				<h3>Tiêu đề</h3>
				<div class="inside">
					<input type="text" value="" id="news_title"/>
				</div>
			</div>
			<!-- ------------------
			//Mô tả ngắn
			------------------- -->
			<h3>Mô tả ngắn (excerpt)</h3>
			<textarea class="noi_dung"  id="excerpt"  rows="10" cols="100%"></textarea>
			<!-- ------------------
			Nội dung
			------------------- -->
			<div class="value_row">
				<h3>Nội dung</h3>
				<textarea class="noi_dung"  id="noi_dung"  rows="20" cols="100%"></textarea>
			</div>
			<!-- ------------------
			//Nội dung
			------------------- -->
		</div>
		<div class="pro_col02">
			<!-- ------------------
			//danh muc chung
			------------------- -->
			<div id="category_general_wrap" class="value_row pro_box">
				<h3>Danh mục</h3>
				<div id="category_general_box" class="inside">
					<select name="category_general" id="news_category_id"  >
						<option value="0">Chọn danh mục</option>
						<% include ../../masterpage/widget-category-news-general-check-box %>
					</select>
				</div>
			</div>
			<!-- ------------------
			//danh muc chung
			------------------- -->
			
			
			
	<!-- ------------------
	//hình đại diện 
	------------------- -->
	<div class="pro_box">
		<h3>Ảnh đại diện</h3>	
		<div class="inside">
			<input type="text" value="" id="featured_image" data_value="" style="display:none;" />
			<input type="button" value="Thêm ảnh" id="btn_featured_image">
			<div id="img_box_dai_dien"></div>
			<input type='file' accept="image/*" id='upload_image' style="display:none;">
		</div>
	</div>
	<!-- ------------------
	//end of hình đại diện 
	------------------- -->
	
			
			<div class="pro_box trang_thai_box">
				<h3>Trạng thái</h3>	
				<div class="inside">
					<select id="news_status">
						<%- ojs_share.show_status_product(0) %>
					</select>
				</div>
			</div>
		</div>
	</div>
	







<div class="btn_box">
	<a href="/news/general/show-all/" class="btn_back">Quay về</a>
	<button id="btn_save" class="btn_save">Save</button>
</div>	
	
<input type="hidden" id="users_id" value="<%= users_id %>"/>


</div>

<!-- --------------------
end content
--------------------- -->








<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->



<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	//@
	ojs_loader.loadTinyMCE('noi_dung');
	ojs_loader.loadTinyMCE('excerpt');
	
	
	
	//@
	ojs_loader.show_anh_dai_dien('featured_image','img_box_dai_dien',"","");
	//@
	
	//@
	$(document).on('click','#btn_featured_image',function(e) {		
		e.preventDefault();		
		$('#upload_image').trigger( "click" );
	});
	//@
	$("#upload_image").on("change",function(){
		let input = this;
		ojs_loader.upload_anh_dai_dien(input,"featured_image","img_box_dai_dien")
	});		
	//
	//xoa image dai dien
	$(document).on('click','.xoaAnhDaiDien',function(e) {		
		e.preventDefault();		
		
		// xoa image s3
		let products_speciality_featured_image = $('#featured_image').attr("data_value");
		let url = products_speciality_featured_image;
		
		//console.log(url);
		//return;
		
		
		ojs_loader.delete_s3(url);
		
		//$('#featured_image').attr("data_s3","");
		//xoa html
		$(this).parent(".img_box").remove();
		ojs_loader.set_value_anh_dai_dien('featured_image','img_box_dai_dien');
		
	});		
	//	
	
	
	
	
	// ajax luu san pham
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		
		let news_title = $('#news_title').val();
		let category_news_sort_order = $('#category_news_sort_order').val();
	
		//@
		let news_user_id = $('#users_id').val();
		//@
		let news_featured_image = $('#featured_image').attr("data_value");
		//@
		let news_category_id = $('#news_category_id  option:selected').val();	
		let news_status = $('#news_status  option:selected').val();

		//@
		let news_excerpt = tinymce.get("excerpt").getContent();
		let news_contents = tinymce.get("noi_dung").getContent();
		
		//
		let datas = {
			"datas":{
				news_title : news_title,
				news_category_id :  news_category_id,
				news_featured_image : news_featured_image,
				news_status : news_status,
				news_excerpt : news_excerpt,
				news_contents : news_contents,
				news_user_id : news_user_id
			}
		}
		//console.log(datas);		
		//return;
		
		ojs_news_general.ajax_save(datas);	
		
	});//end of save ajax
	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>












<% include ../../masterpage/loader-end %>






