<!DOCTYPE html>
<html>
<head>
	<title>Hỗ trợ đơn hàng</title>
	<link rel='stylesheet' href='../../../../<%= js_css_version %>/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charSet="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="support">

<div id="pagewrap">
<div id="layout" class="pagewidth layout">
<!-- --------------------
page wrap 
--------------------- -->


<div id="header" class="flow">
<a href="https://appdala.com/ho-tro/">Trung tâm hỗ trợ</a> <i class="fas fa-chevron-right"></i> <span>Đơn hàng và thanh toán</span>
</div>

<div id="content" class="content">
	<div class="acc_ul">
		<div class="acc_li">
			<h3>Tôi muốn hủy đơn hàng.</h3>
			<div class="acc_content">
				Quý khách có nhu cầu hủy đơn hàng vui lòng liên hệ tổng đài, Dala sẽ hỗ trợ hủy nếu đơn hàng đó chưa được gửi cho bên vận chuyển.
			</div>
		</div>
		<div class="acc_li">
			<h3>Tôi muốn xem trạng thái đơn hàng của mình</h3>
			<div class="acc_content">
				Trong app Dala > chọn tab Tài khoản:
				<img src="../images/tai-khoan.jpg">
				Chọn "tất cả đơn hàng" để xem trạng thái đơn hàng của bạn.
				<img src="../images/don-hang.jpg">
			</div>
		</div>
		<div class="acc_li">
			<h3>Thanh toán đơn hàng tại Dala như thế nào?</h3>
			<div class="acc_content">Hiện tại, Dala chỉ áp dụng hình thức thanh toán tiền mặt khi nhận hàng(COD).
			Sau khi đặt hàng, Dala sẽ liên hệ xác nhận đơn hàng và tiến hành giao hàng, quý khách sẽ thanh toán khi nhận hàng.</div>
		</div>
	</div>
</div>

<div id="footer">
	<p><b>Liên hệ với Dala:</b></p>
	<p>Điện thoại: 0982.900.100</p>
	<p>Email: appdala.com@gmail.com</p>
</div>


<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->

</body>
</html>