<!DOCTYPE html>
<html>
<head>
	<title>Hỗ trợ giao nhận hàng</title>
	<link rel='stylesheet' href='../../../../<%= js_css_version %>/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charSet="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="support">

<div id="pagewrap">
<div id="layout" class="pagewidth layout">
<!-- --------------------
page wrap 
--------------------- -->


<div id="header" class="flow">
<a href="https://appdala.com/ho-tro/">Trung tâm hỗ trợ</a> <i class="fas fa-chevron-right"></i> <span>Giao hàng và nhận hàng</span>
</div>

<div id="content" class="content">
	<div class="acc_ul">
		<div class="acc_li">
			<h3>Dala tính phí giao hàng như thế nào?</h3>
			<div class="acc_content">
				Dala hợp tác với giao hàng tiết kiệm(GHTK) để vận chuyển. Phí giao hàng sẽ được GHTK tính dựa trên quãng đường từ cửa hàng đến địa chỉ nhận hàng.
			</div>
		</div>
		<div class="acc_li">
			<h3>Tôi mua sản phẩm từ nhiều cửa hàng trong 1 đơn hàng. Phí vận chuyển sẽ được tính như thế nào?</h3>
			<div class="acc_content">
				Dala tách riêng kiện hàng theo từng cửa hàng. Phí giao hàng là tổng phí vận chuyển của các cửa hàng đến địa chỉ nhận hàng.
			</div>
		</div>
		<div class="acc_li">
			<h3>Tôi cần chuẩn bị gì khi nhận hàng?</h3>
			<div class="acc_content">Khi nhận hàng, quý khách cần <b>kiểm tra kỹ thông tin đơn hàng, và sản phẩm</b>.
			Sản phẩm phải còn nguyên vẹn, không móp mép, vỡ và còn hạn sử dụng. Sau đó mới thanh toán tiền cho nhân viên giao hàng.</div>
		</div>
	</div>
</div>

<div id="footer">
	<p><b>Liên hệ với Dala:</b></p>
	<p>Điện thoại: 0982.900.100</p>
	<p>Email: appdala.com@gmail.com</p>
</div>


<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->

</body>
</html>