<!DOCTYPE html>
<html>
<head>
	<title>Hỗ trợ tài khoản</title>
	<link rel='stylesheet' href='../../../../<%= js_css_version %>/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charSet="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="support">

<div id="pagewrap">
<div id="layout" class="pagewidth layout">
<!-- --------------------
page wrap 
--------------------- -->


<div id="header" class="flow">
<a href="https://appdala.com/ho-tro/">Trung tâm hỗ trợ</a> <i class="fas fa-chevron-right"></i> <span>Tài khoản của tôi</span>
</div>

<div id="content" class="content">
	<div class="acc_ul">
		<div class="acc_li">
			<h3>Làm thế nào để đăng ký tài khoản mua hàng tại Dala?</h3>
			<div class="acc_content">
				Trong app Dala > chọn tab Tài khoản:
				<img src="../images/tai-khoan.jpg">
				Chọn thông tin tài khoản:
				<img src="../images/thong-tin-tai-khoan.jpg">
				Đăng ký tài khoản > Điền thông tin và ấn Đăng ký:
				<img src="../images/dang-ky.jpg">
			</div>
		</div>
		<div class="acc_li">
			<h3>Tôi quên mật khẩu và không thể đăng nhập?</h3>
			<div class="acc_content">
				Trong app Dala > chọn tab Tài khoản:
				<img src="../images/tai-khoan.jpg">
				Chọn thông tin tài khoản:
				<img src="../images/thong-tin-tai-khoan.jpg">
				Chọn quên mật khẩu và làm theo hướng dẫn để lấy lại mật khẩu.</div>
		</div>
		<div class="acc_li">
			<h3>Tôi muốn thay đổi thông tin và mật khẩu tài khoản?</h3>
			<div class="acc_content">Trong app Dala > chọn tab Tài khoản > Thông tin tài khoản > Thay đổi thông tin hoặc mật khẩu xong ấn Lưu.</div>
		</div>
	</div>
</div>

<div id="footer">
	<p><b>Liên hệ với Dala:</b></p>
	<p>Điện thoại: 0982.900.100</p>
	<p>Email: appdala.com@gmail.com</p>
</div>


<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->

</body>
</html>