.tab {
    background-color: #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 5px;
}



.tab.active{
	background-color: #aee1af;
    color: white;
}



.tab-content{
	display:none;
}
.tab-content.active{
	display:block;
}