.pro_col01 {
    width: 70%;
	padding-bottom: 200px;
}



.pro_col02 {
    width: 25%;
}


.thong_tin_coupon {
    display: flex;
}



.cong_thuc_coupon-box {
    display: flex;
}

.cong_thuc_coupon {
    display: flex;
}

.pro_box {
    margin-top: 30px;
    padding-bottom: 20px;
}





