
.discount-wrap {
    display: flex;
    flex-wrap: wrap;
}
.discount-box {
    display: flex;
    padding: 36px;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    width: 100%;
    margin-bottom: 60px;
}
.discount-box .discount-image-wrap {
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 30%;
}


.discount-box .discount-image-wrap img {
    max-width: 100%;
    min-height: 100%;
    display: block;
}

.discount-title {
    margin: 10px 0;
    font-weight: bold;
    color: #4a914b;
    font-size: 120%;
}

.pro_col01 {
    overflow: auto;
    max-height: 250px;
}
























































