.order_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.order_content .order_detail {
    width: calc(100% - 280px);
}

.order_content .order_detail .inside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order_content .trang_thai_box {
    width: 250px;
}


.order_detail .value_row {
    margin-bottom: 12px;
   width: auto;
}

.value_row span {
    margin-bottom: 5px;
    display: inline-block;
}


.order_detail .value_row input {
    width: 100%;
}
.inside input[type="text"], .inside input[type="button"], .inside select, .inside textarea {
    width: 100%;
}
.value_row input {
    display: block;
}
input[disabled] {
    background: #ececec;
}


#content .order-box table tr td:first-child, #content .order-box table tr th:first-child {
    text-align: left;
    width: 20%;
}
#content .order-box table tr td, #content .order-box table tr th {
    text-align: center;
}

.add_line_box {
    text-align: right;
    padding: 5px 20px 10px 0;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-top: none;
}

.price_box {
    color: #ee4d2d;
}

button {
    cursor: pointer;
}

#content .order-box table tr td input {
    min-width: auto;
    max-width: 100px;
    text-align: center;
    display: inline-block;
}

.order_detail .value_row input {
    width: 100%;
}




div#order-box {
    margin-top: 50px;
    margin-bottom: 50px;
}


























