.report_wrap {
    display: flex;
    justify-content: space-between;
}




.pro_content_edit .pro_col01 {
    width: calc(100% - 300px);
    padding-bottom: 100px;
}









































