.pro_content_edit {
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.pro_content_edit .pro_col01 {
    width: calc(100% - 300px);
}

.pro_content_edit .pro_col02 {
    width: 280px;
}

#category_inner, #option_inner {
    overflow-y: auto;
    height: 200px;
}


.pro_box {
    background: white;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}

#ul-category li {
    list-style: none;
    line-height: 22px;
}

#ul-category li label {
    cursor: pointer;
}

input[type="checkbox"] {
    min-width: unset;
    cursor: pointer;
}


.cat_line_wrap label, .option_line_wrap label {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 20px);
    padding: 4px 0;
    cursor: pointer;
}


.option_child_line {
    margin-left: 30px;
}


.quy_cach_box .inside, .thuoc_tinh_box .inside, .gia_box .inside {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.ten_sp_box input {
    width: 100%;
    font-size: 18px;
}













































