


/*
* Đây là file css dùng chung mức độ 2
* Chỉ một số format mới dùng chung
* File nào cần thì loader
*/

#sidebar.admin {
    background-color: #df94bb;
}


#sidebar .admin-menu {
    margin: 0;
    padding: 0;
}


#sidebar .admin-menu .sidebar_name {
    margin-bottom: 25px;
    color: white;
    font-size: 120%;
}


#sidebar .admin-menu li {
    list-style: none;
    font-size: 15px;
    padding: 0;
    position: relative;
    margin-bottom: 10px;
    color: rgba(255,255,255,0.8);
}

#sidebar .admin-menu li a {
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    display: block;
    width: 100%;
    padding: 14px 20px;
    box-sizing: border-box;
    border-radius: 50px 0 0 50px;
}


#sidebar .admin-menu li a i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    width: 20px;
    text-align: center;
    height: 16px;
}


#sidebar .admin-menu li a .menu-name {
    display: inline-block;
    vertical-align: middle;
}

#sidebar .admin-menu li a.btn_add {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: auto;
    box-sizing: border-box;
    z-index: 0;
    padding: 8px 10px;
    border-radius: 50%;
    visibility: hidden;
    transition: 0.2s all ease;
}




#sidebar .admin-menu li a.btn_add i {
    display: block;
    margin: 0;
    width: auto;
}


#sidebar .admin-menu li a:hover {
    color: #fff;
}



#sidebar .admin-menu li:hover a.btn_add:hover {
    background: rgba(255,255,255,0.2);
}

#sidebar .admin-menu li:hover a.btn_add {
    visibility: visible;
    right: 15px;
}


#sidebar ul li.menu_taget {
    position: relative;
}


#sidebar ul li.menu_taget > a {
    color: #4a914b;
    background: #f1f1f1;
}

#sidebar ul li.menu_taget:before {
    content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    right: 0;
    top: -23px;
    background: url(../../images/menu-sidebar_03.png) center;
    background-size: contain;
}

#sidebar ul li.menu_taget:after {
    content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    right: 0;
    bottom: -23px;
    background: url(../../images/menu-sidebar_02.png) center;
    background-size: contain;
}



.news_red {
    color: white;
    background-color: #ee4d2d;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 50px;
    min-width: 22px;
    min-height: 22px;
    margin-left: 9px;
    font-size: 14px;
}

















